.button-principal {

  @include button($transparent);

  &__icon {
    color: $charcoal-grey;
    font-size: 1.7rem;
    text-align: center;
  }

  &__search {
    @include button($charcoal-grey);
    color: $white;
  }

  &__register-login {
    @include button;
    margin: 0;
    width: 7rem !important;
  }

  &__login {

    @include button;
    border-radius: 0.2rem;
    color: $fourth-color !important;
    font: {
      family: Raleway-Bold !important;
      size: 1.6rem !important;
    }
    margin: 0;

    @media only screen and (max-width: 767px) {
      width: 32rem !important;
    }

    @media only screen and (max-width: 414px) {
      width: 100% !important;
    }

  }

  &__city {

    @include button;
    border-radius: 0.2rem;
    color: $fourth-color !important;
    font-size: 1.6rem;
    margin: 1.7rem 1.2rem 2rem 0;

    @media only screen and (max-width: 767px) {
      margin-bottom: 1rem;
      width: 80% !important;
    }

  }

  &__forgot-password {
    @include button;
    margin: 2rem 0 !important;
  }

  &__icon-label {

    @include button;
    align-content: space-between;
    border: solid 0.1rem $first-color;
    border-radius: 0.2rem;
    margin: 0;

    &:focus {
      border: solid 0.1rem $first-color;;
      outline: 0;
    }

    &__content {

      align-content: space-between;
      cursor: pointer;
      display: flex;
      justify-content: center;

      &__label {
        display: flex;
        margin: 0.7rem 0 0.9rem 0.8rem;
      }

    }

    @media only screen and (max-width: 414px) {
      width: 13rem !important;
    }

  }

  &__continue-as-guest {
    @include button;
    font-family: Raleway-Bold !important;
  }

  &__register {
    @include button;
    margin: 0;
    text-align: left;
  }

  &__country {
    @include button;
    margin: 0;
    padding: 0;
    text-align: right;
    text-decoration: underline;

    @media only screen and (max-width: 767px) {
      font-size: 1.6rem;
    }

  }

  &__menu {
    @include button;
    margin: 0;
    padding: 0;
    z-index: 4;
  }

  &__menu-content {
    @include button;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 33%;
    z-index: 4;
  }

  &__item-menu-title {
    @include button;
    font: {
      family: Raleway !important;
      size: 1.2rem !important;
    };
    letter-spacing: 2.4px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
  }

  &__item-menu {
    @include button;
    font: {
      family: Raleway !important;
      size: 1.6rem !important;
    };
    letter-spacing: normal;
    line-height: 1.13;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  &__header-login {

    @include button;
    font: {
      family: Raleway !important;
      size: 1.4rem !important;
    };
    letter-spacing: normal;
    line-height: 1.43;
    margin: 0;
    padding: 0;
    text-align: right;
    width: auto !important;

    &:hover {
      color: $turquoise-blue !important;
    }

  }

  &__carousel {

    @include button;
    border: solid 0.1rem $fourth-color;
    border-radius: 0.2rem;
    color: $fourth-color !important;
    font: {
      family: Raleway-Semi-Bold !important;
      size: 1.6rem !important;
    };
    height: 4rem !important;
    line-height: 1.19;
    margin: 0;
    width: 25rem !important;

    &:hover, &:focus {
      border: solid 0.1rem $turquoise-blue;
      color: $turquoise-blue !important;
    }


    @media only screen and (max-width: 1080px) {
      height: 4rem !important;
      width: 18rem !important;
    }

    @media only screen and (max-width: 590px) {
      height: 5rem !important;
      margin: 0 auto;
      width: 30rem !important;
      bottom: 3.5rem;
      position: absolute;
      left: 0;
      right: 0;

    }

  }

  &__about-us-back-stage-app {

    @include button;
    border-radius: .5rem;
    height: 7rem !important;
    padding: 0 !important;
    margin: 4.9rem 1.5rem 0 0 !important;
    width: 6.5rem !important;

    &:last-child {
      margin-left: 1.5rem !important;
      margin-right: 0 !important;
    }

    @media only screen and (max-width: 414px) {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

  }

  &__search-close {

    @include button;
    color: $bluey-grey;
    font: {
      family: Raleway !important;;
      size: 1.6rem !important;;
    }
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 9.7rem;

    @media only screen and (max-width: 1279px) {
      right: 7.57%;
    }

  }

  &__footer-label {

    @include button;
    color: $bluey-grey !important;
    font: {
      family: Raleway !important;
      size: 1rem !important;
    }
    line-height: 2;
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto !important;

    &:hover {
      color: $fourth-color !important;
    }

  }

  &__country-container {

    @include button;
    font: {
      family: Raleway !important;;
      size: 1.4rem !important;;
    };
    text-align: left;
    margin: 0;
    padding: 0;
    width: 10rem !important;
  }

  &__event {
    @include button;
    margin: 0;
    padding: 0;
  }

  &__cookie {

    @include button;
    color: $turquoise-blue !important;
    font: {
      family: Raleway-Medium !important;
      size: 1.2rem !important;
    }
    margin: 0;
    padding: 0 .5rem;
    text-align: center;
    width: fit-content !important;

  }

  &__cookie-close {

    @include button;
    color: $fourth-color !important;
    margin: 0;
    padding: 0;
    width: 2rem !important;
  }

  &__cookie-principal-close {

    @include button;
    border: 0.1rem solid $fourth-color;
    color: $fourth-color !important;
    font: {
      family: Raleway-Bold !important;
      size: 1rem !important;
    };
    height: 2rem !important;
    margin: 0 0 0 2rem;
    padding: 0;
    width: 6rem !important;
    @media only screen and (max-width: 590px) {
      margin-left: 0;
    }
  }

  &__search-icon {
    @include button;
    margin: -.2rem 0 0 0 !important;
    padding: 0 !important;
  }

  &__find-show {

    @include button($turquoise-blue);
    border-radius: .2rem;
    color: $fourth-color !important;
    font: {
      family: Raleway-Semi-Bold !important;
      size: 1.6rem !important;
    }
    height: 4rem !important;
    letter-spacing: normal;
    line-height: 1.19;
    margin: 3rem 0 0 0;
    text-align: center;
    width: 90.71% !important;

    @media only screen and (min-width: 860px) and (max-width: 900px) {
      margin-top: 2rem;
    }

    @media only screen and (min-width: 720px) and (max-width: 860px) {
      height: 4rem !important;
      width: 21rem !important;
    }

    @media only screen and (max-width: 719px) {

      height: 5rem !important;
      width: 30rem !important;

      @media only screen and (max-width: 411px) {
        margin-left: auto;
        margin-right: auto;
        width: 95% !important;
      }

    }

    &:hover {
      background-color: $charcoal-grey;
      color: $fourth-color;
    }

  }

  &__tkplay {

    @include button;
    border: 0.1rem solid $fourth-color;
    border-radius: 0.2rem;
    color: $fourth-color !important;
    font: {
      family: Raleway-Semi-Bold !important;
      size: 1.6rem !important;
    };
    height: 4rem !important;
    line-height: 1.19;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    width: 18.7rem !important;

    &:hover {
      border: solid 0.1rem $turquoise-blue;
      color: $turquoise-blue !important;
    }

    &:focus {
      border: .1rem solid $fourth-color;
    }

    @media only screen and (min-width: 723px) and (max-width: 1279px) {
      width: 18rem !important;
    }

    @media only screen and (max-width: 722px) {
      align-items: center;
      display: flex;
      height: 5rem !important;
      justify-content: center;
      margin: 0 auto !important;
      width: 30rem !important;

      @media only screen and (max-width: 411px) {
        width: 95% !important;
      }

    }

  }

  &__tkplay-image {
    @include button;
    bottom: 3%;
    border-radius: 50%;
    background: {
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    color: $fourth-color !important;
    height: 4.8rem !important;
    left: 2%;
    margin: 0;
    padding: 0;
    position: absolute;
    vertical-align: middle;
    width: 4.8rem !important;
  }

  &__find-show-item {
    @include button;
    bottom: 0;
    color: $fourth-color !important;
    font: {
      family: Raleway-Bold !important;
      size: 1.6rem !important;
    }
    height: 1.6rem;
    left: 5.84%;
    letter-spacing: normal;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 83%;
    width: 7.3rem;
  }

  &__language-list {

    @include button;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
    width: 100% !important;

    &__light {

      &:hover {
        background-color: $black;
        color: $fourth-color !important;
        width: 100% !important;
      }

    }

    &__dark {

      &:hover {
        background-color: $fourth-color;
        color: $black !important;
      }

    }

  }

  &__set-language {
    @include button;
  }

  &__aboutus-suscribe {

    @include button($seventh-color);
    color: $fourth-color !important;
    font: {
      family: Raleway !important;
      size: 1.2rem !important;
    }
    height: 3.5rem !important;
    letter-spacing: normal;
    line-height: 1.67;
    margin: 0;
    text-align: center;
    width: 9.3rem !important;

    &:hover {
      background-color: $turquoise-blue;
      color: $fourth-color;
    }

  }

  &__contact-us-last-title {

    @include button;
    color: $fourth-color !important;
    display: block;
    font: {
      family: Raleway !important;
      size: 1.2rem !important;
    }
    height: 1.4rem;
    letter-spacing: normal;
    line-height: 1.67;
    text-align: center;

    @media only screen and (max-width: 767px) {
      margin-top: 0 !important;
    }

  }

  &__aboutus-category-item {

    @include button;
    color: $bluey-grey !important;
    font: {
      family: Raleway !important;
    }
    height: auto !important;
    letter-spacing: normal;
    line-height: 2.4;
    margin: 0;
    padding: 0;
    text-align: left !important;

    &:hover {
      color: $fourth-color !important;
    }

    @media only screen and (max-width: 860px) {
      text-align: center !important;
    }
    /*todo colocar cuando esten todas las categorias
        @media only screen and (max-width: 722px) {
      text-align: center !important;
    }*/

  }

  &__aboutus-category-label {

    @include button;
    color: $fourth-color !important;
    cursor: auto !important;
    font: {
      family: Raleway !important;
    }
    height: auto !important;
    letter-spacing: normal;
    line-height: 2.4;
    margin: 0 0 .65rem 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;


    @media only screen and (max-width: 860px) {
      text-align: center !important;
      margin: 0;
    }
    @media only screen and (max-width: 722px) {
      cursor: pointer !important;
    }

/*todo colocar cuando esten todas las categorias
    @media only screen and (max-width: 722px) {
      cursor: pointer !important;
      text-align: center !important;
      margin: 0;
    }*/

  }

  &__close-modal-city {
    @include button;
    width: 3rem;
    height: 3rem;
    margin: 0 !important;
    padding: 0 !important;
  }

  &__multicarousel__arrow-left {
    @include arrow-carousel($bg-arrow-left);
  }

  &__multicarousel__arrow-right {
    @include arrow-carousel($bg-arrow-right);
  }

  &__search-not-result {
    @include button;
    margin: 0 !important;
    padding: 0 !important;
    width: 11rem !important;
    text-decoration: underline;
    color: $turquoise-blue !important;
  }

  &__contact-us-submit {
    @include button($turquoise-blue);
    border-radius: .5rem;
    color: $fourth-color !important;
    height: 4.8rem !important;
    margin: 0;
    font: {
      size: 1.6rem !important;
      family: Raleway-Bold !important;
    };
    width: 50rem !important;

    &:hover {
      background-color: transparent !important;
      border: .1rem solid $first-color !important;
      color: $turquoise-blue !important;
    }

    @media only screen and (min-width: 720px) and (max-width: 950px) {
      width: 69rem !important;
    }
    @media only screen and (min-width: 414px) and (max-width: 719px) {
      width: 37.4rem !important;
    }
    @media only screen and (max-width: 414px) {
      width: 100% !important;
    }
  }

  &__contact-us-submit-disabled {
    @include button;
    border-radius: .5rem;
    color: $eighteenth-color !important;
    height: 4.8rem !important;
    margin: 0;
    font: {
      size: 1.6rem !important;
      family: Raleway-Bold !important;
    };
    width: 50rem !important;

    @media only screen and (min-width: 720px) and (max-width: 950px) {
      width: 69rem !important;
    }
    @media only screen and (min-width: 414px) and (max-width: 719px) {
      width: 37.4rem !important;
    }
    @media only screen and (max-width: 414px) {
      width: 100% !important;
    }

  }

  &__list-image-sell {
    @include button($turquoise-blue);
    border-radius: .5rem;
    color: $fourth-color !important;
    height: 4.8rem !important;
    font: {
      size: 1.6rem !important;
      family: Raleway-Bold !important;
    };
    margin: 0;
    width: 34.8rem !important;

    &:hover {
      background-color: transparent !important;
      border: .1rem solid $first-color !important;
      color: $turquoise-blue !important;
    }

    @media only screen and (min-width: 414px) and (max-width: 1150px) {
      width: 37.4rem !important;
    }
    @media only screen and (max-width: 413px) {
      width: 90% !important;
      margin: 0 auto !important;
    }
  }

  &__item-select-country {

    @include button;
    height: 4.5rem !important;
    width: 20rem !important;
    margin: 0 0 0 2.3rem !important;
    padding: 0 !important;

    &__content {

      display: flex;
      align-items: center;

      img {
        height: 2.7rem !important;
        width: 4rem !important;
        margin: 0 1.6rem .2rem 0 !important;
      }

      &-legend {
        text-align: left;
        height: 100%;

        &-country {
          font: {
            family: Raleway-Semi-Bold;
            size: 1.6rem;
          };
          line-height: 2rem;
          margin-bottom: -.3rem;
        }
        &-url {
          color: $bluey-grey;
          font: {
            family: Raleway;
            size: 1.4rem;
          };
          line-height: 2rem;
        }
        &:hover {
          color:$turquoise-blue !important;
        }
      }
    }

  }

}
