.radio-button-container {

  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;

  &__name {

    cursor: pointer;
    font: {
      family: Raleway-Medium;
      size: 1.4rem;
      stretch: normal;
      style: normal;
      weight: normal;
    }

    letter-spacing: normal;
    line-height: 1.5;
    padding: 0 0 0 1rem !important;
    text-align: left;
    width: 70%;

    &:hover {
      color: $turquoise-blue !important;
    }
  }

  &__radio {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    padding: 0 !important;
    position: relative;
    text-align: right;
    user-select: none;
    width: 30%;

    &__content {
      background-color: transparent;
      border: solid .1rem $first-color;
      border-radius: 50%;
      cursor: pointer;
      height: 1.8rem;
      position: absolute;
      right: .9rem;
      top: -1rem;
      width: 1.8rem;

      &:focus {
        box-shadow: none;
        outline: 0;
      }

      &__input {
        display: none;
      }

      &__content {
        background-color: $turquoise-blue;
        border-radius: 50%;
        cursor: pointer;
        height: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 1rem;
      }

    }

  }

  &:hover {
    cursor: pointer;
  }
}
