.country-list-container {

  height: auto;
  position: relative;
  width: 100%;

  &__actually {

    align-items: center;
    border-right: .1rem solid $charcoal-grey;
    display: flex;
    width: 100%;

    @media only screen and (max-width: 722px) {
      border: none;
    }

    .item-country-container {

      padding-top: .4rem;
      padding-bottom: .3rem;

      &:hover {
        background-color: transparent;
      }

      &__content {

        &__label {

          &:hover {
            color: $fourth-color;
          }

        }

      }

    }

  }

  &__list {

    bottom: 3.9rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    flex-direction: column;
    position: absolute;
    text-align: left !important;
    width: 100%;

    @media only screen and (max-width: 722px) {
      bottom: 4.25rem;
    }

  }

}
