.event-list-city-container {

  height: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  width: 34.2rem;

  z-index: 2;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: .9rem !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dbdfe8;
    border-radius: .4rem;
  }

}
.label-container-list-city {
  display: none;
}
@media only screen and (max-width: 590px) {

  .event-list-city-container {
    box-shadow: none;
    height: auto;
    max-height: 60rem;
    width: 90%;
    margin: 0 auto;
  }

  .label-container-list-city {

    align-items: center;
    display: flex;
    margin: 9.6rem 0 2.4rem 0;
    padding: 0 1.5rem 0 2rem;

    &__label {
      font: {
        family: Raleway-Semi-Bold;
        size: 2.2rem;
      };
      margin: 0 auto;
      width: 90%;
    }

  }
  .box-shadow-light,.box-shadow-dark  {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}

.box-shadow-light {
  box-shadow: 0 0 1rem 0 rgba(171, 180, 195, 0.35);
  -webkit-box-shadow: 0 0 1rem 0 rgba(171, 180, 195, 0.35);
  -moz-box-shadow: 0 0 1rem 0 rgba(171, 180, 195, 0.35);

}

.box-shadow-dark {
  -webkit-box-shadow: 0 0 1rem .5rem rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 1rem .5rem rgba(0,0,0,0.2);
  box-shadow: 0 0 1rem .5rem rgba(0,0,0,0.2);
}

