.language-list-aboutUs-container {

  height: 6rem;
  margin-top: .5rem;
  width: 8rem;

  .radio-button-container {

    margin-bottom: .5rem;

    &__name {

      color: $bluey-grey !important;;
      font: {
        family: Raleway;
        size: 1.2rem;
      };



    }

  }

}

@media only screen and (min-width: 861px) and (max-width: 1050px) {

  .language-list-aboutUs-container {

    .radio-button-container {

      &__name {
        font-size: 1rem;
      }

    }

  }

}

@media only screen and (max-width: 767px) {
  .language-list-aboutUs-container {
    display: none;
  }
}
