$transparent: transparent;
$black: #000000;
$bluey-grey: #919baf;
$bluey-grey-rbba: rgba(145, 155, 175, .2);
$charcoal-grey: #353b47;
$charcoal-grey-rgba: rgba(53, 59, 71, 0.1);
$turquoise-blue: #09cbcc;
$very-light-pink: #e3e3e3;
$white: #fafafa;
$slate: #4b5467;
$first-color: #bec7db;
$second-color: #c9cfdb;
$third-color: #727989;
$fourth-color: #ffffff;
$fourth-color-rgba: rgba(255, 255, 255, 1);
$fifth-color: #757e90;
$sixth-color: #272b33;
$seventh-color: #1c1f26;
$eighth-color: #577ea4;
$ninth-color: #f4f4f4;
$tenth-color: #4a5467;
$eleventh-color: #e5eef3;
$twelfth-color: #f8f8f8;
$thirteenth-color: #687286;
$fourteenth-color: #3F475C;
$fiveteenth-color: #f8faff;
$sixteenth-color: #DBDFE8;
$seventeenth-color: #F8F8FA;
$eighteenth-color: #919BAF;
$nineteenth-color: #f7ffff;
$twentieth-color: #dbdfe8;
$twentie-oneth-color: #f8f8fa;
$box-shadow-modal: rgba(89, 95, 105, 0.35);
$box-shadow-modal-dark: rgba(0, 0, 0, 0.2);
$error-color: #ed4545;
