html, body {

  font: {
    family: Raleway !important;
    size: 62.5% !important;
  }
  margin: 0 auto;
  padding: 0;

  @include theme($fourth-color, $charcoal-grey);

  .__darkmode {
    @include theme($seventh-color, $fourth-color);
  }

}

.separator {

  border: 0.05rem solid $very-light-pink;
  height: 2rem;
  margin: 0 1.5rem;

  @media only screen and (max-width: 590px) {
    display: none;
  }

}

.separator-horizontal {
  border: 0.01rem solid;
  margin: auto;
}

.last-child-card {
  @include last-item();
}

.skip-link {
  display: none;
}

.item-shadow-dark {

  background: $charcoal-grey;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .20);

  &:hover {
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, .62);
    -moz-box-shadow: 0 0 4rem 0 rgba(0, 0, 0, .62);
    -webkit-box-shadow:  0 0 4rem 0 rgba(0, 0, 0, .62);
  }

}

.item-shadow-light {

  background: $fourth-color;
  box-shadow: 0 0 1rem 0 rgba(207, 216, 230, .35);
  -moz-box-shadow: 0 0 1rem 0 rgba(207, 216, 230, .35);
  -webkit-box-shadow: 0 0 1rem 0 rgba(207, 216, 230, .35);

  &:hover {
    box-shadow: 0 0 4rem 0 rgba(207, 216, 230, 0.35);
    -moz-box-shadow: 0 0 4rem 0 rgba(207, 216, 230, .35);
    -webkit-box-shadow: 0 0 4rem 0 rgba(207, 216, 230, .35);
  }

}

input[type='number'] {
  -moz-appearance:textfield;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

