@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('../static/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Raleway-Light;
  font-weight:normal;
  font-style:normal;
  font-stretch: normal;
  src: url("../static/fonts/Raleway/Raleway-Light.ttf")  format('truetype');
}

@font-face {
  font-family: Raleway-Medium;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src:url("../static/fonts/Raleway/Raleway-Medium.ttf")  format('truetype');
}

@font-face {
  font-family: Raleway-Semi-Bold;
  font-style: normal;
  font-weight:600;
  font-stretch: normal;
  src: url("../static/fonts/Raleway/Raleway-SemiBold.ttf")  format('truetype');
}

@font-face {
  font-family: Raleway-Bold;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  src: url('../static/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Raleway-Extra-Bold;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  src: url('../static/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}


@font-face {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url('../static/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src:url('../static/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
