@mixin theme($background,$color) {
  background: $background !important;
  color: $color;
}

@mixin button($background: $transparent) {
  background: $background;
  border: none;
  @include font-raleway-medium();
  outline: none;
  margin: 0 0.5rem;
  &:focus {
    border: none;
    box-shadow: none;
    outline: 0;
  }
}

@mixin middle-container() {
  align-items: center;
  display: flex;
  height: 100% !important;
  padding: 0;
  width: 50%;

}

@mixin font-raleway-medium() {
  color: $charcoal-grey;
  font: {
    family: Raleway-Medium;
    size: 1.4rem;
  };
}

@mixin font-header($family, $font-size, $line-height) {
  color: $fourth-color;
  font: {
    family: $family;
    size: $font-size+rem;
  };
  letter-spacing: normal;
  line-height: $line-height;
  width: 45.2rem;

  @media only screen and (max-width: 890px) {
    width: 39.3rem;
  }
  @media only screen and (max-width: 590px) {
    width: 80%;
  }

}


@mixin label-item-multicarousel($family,$top,$size) {
  @include overflow-label();
  $line-height: 0;

  @if ($family == Raleway-Semi-Bold) {
    $line-height: 1.14;
  } @else {
    $line-height: 1.67;
  }

  color: $fourth-color;
  font: {
    family: $family;
    size: $size+rem;
    stretch: normal;
    style: normal;
  }
  left: 4.81%;
  letter-spacing: normal;
  line-height: $line-height;
  position: absolute;
  text-align: left;
  top: $top*1%;
  width: 75%;
}

@mixin skeleton-class($height) {
  .react-loading-skeleton {
    height: $height+rem;
    animation: animation-16jpnkj 3s cubic-bezier(0.30, 0.48, 0.48, 0.30) infinite !important;
    border-radius: 0 !important;
  }
}

@mixin skeleton($height, $width, $top, $right, $bottom, $left) {
  @include skeleton-class($height);
  margin: $top+rem $right+rem $bottom+rem $left+rem;
  width: $width+rem;
}


@mixin arrow-carousel($background) {
  @include button;
  background-image: $background !important;
  width: 3rem;
  height: 6rem;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 4 !important;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  &:hover {
    opacity: 1;
  }
  &:before {
    content: none;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

@mixin button-theme-multi-carousel($color) {

  &__button {
    position: absolute;
    display: flex;
    justify-items: center;

    .button-principal {
      color: $color;
      font: {
        family: Raleway-Bold;
        size: 2.2rem;
        stretch: normal;
        style: normal;
      }
      letter-spacing: normal;
      line-height: 1.18;
      margin: 0;
      padding: 0;
      text-align: left;
      text-decoration: underline;
      width: auto !important;
      height: 2.2rem !important;

      &:hover {
        color: $turquoise-blue !important;
      }

    }

    &__label {
      color: $color;
      font: {
        family: Raleway;
        size: 2.2rem;
        stretch: normal;
        style: normal;
      }
      height: 2.6rem;
      letter-spacing: normal;
      line-height: 1.18;
      text-align: left;
      width: auto !important;
      margin: 0.2rem 1rem 0 0;
    }


  }
}

@mixin body-carousel-item-container() {
  display: inline-block;
  position: relative;
  text-align: center;
}

@mixin last-item() {
  content: '';
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  border-top-width: 0;
  border-bottom-width: 0;

}

@mixin overflow-label() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin sizes($className,  $isEvent) {
  .#{$className} {
    @media only screen and (min-width: 1100px) and (max-width: 1280px) {
      width: 98% !important;
    }
    @media only screen and (min-width: 1055px) and (max-width: 1100px) {
      width: 96% !important;
    }
    @media only screen and (min-width: 968px) and (max-width: 1055px) {
      width: 98.9% !important;
    }
    @media only screen and (min-width: 870px) and (max-width: 968px) {
      width: 97.5% !important;
    }
    @media only screen and (min-width: 820px) and (max-width: 870px) {
      width: 95% !important;
    }

    @media only screen and (min-width: 640px) and (max-width: 820px) {
      width: 97.5% !important;
      @media only screen and (max-width: 720px) {
        width: 100% !important;
      }
      @if ($isEvent == true) {
        @media only screen and (min-width: 768px) and (max-width: 820px) {
          width: 100% !important;
        }

      }

    }

  }

}

@mixin font-title() {
  font: {
    family: Raleway-Semi-Bold;
    size: 3.6rem;
  };
  line-height: 4.2rem;
}

@mixin font-subtitle($size:1.8rem) {
  font: {
    family: Raleway;
    size: $size;
  };
  line-height: 3rem;
}

