$bg-arrow-left: url('../static/images/icon-arrow-left.svg');
$bg-arrow-right: url('../static/images/icon-arrow-right.svg');
$bg-icon-search-desk: url('../static/images/icon-finder-desk.svg');
$bg-icon-search-mobile: url('../static/images/icon-finder-mobile.svg');
