.icon-backstage-container {

  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: center;
  position: relative;
  width: 100%;

 &__image{
   background-color: $black;
   left: .5rem;
   position: absolute;
 }

  &__content {

    display: block;
    left: 3.2rem;
    position: absolute;
    text-align: left;

    &__title {
      color: $fourth-color;
      font: {
        family: Raleway;
        size: 1.2rem;
      }
    }

    &__subtitle {
      color: $fourth-color;
      font: {
        family: Raleway;
        size: 1rem;
      }
    }

  }

}
