.footer-container {

  height: 4.9rem;
  width: 100%;
  &__content {

    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding-bottom: .95rem;
    padding-top: 1.15rem;
    position: relative;
    width: 128rem;

    &__country-list {
      width: 16rem;
    }

    &__button-list {
      align-items: center;
      border-right: .1rem solid $charcoal-grey;
      // todo volver a mostrar display: flex;
      display: none;
      height: 100%;
      justify-content: space-around;
       width: 23.4rem;
      //todo cuando se regresen los cambios se debe colocar para que  muestre los dos items
      // width: 10rem;
    }

    &__social-media-list {
      display: flex;
      justify-content: space-around;
      padding-left: 1.5rem;
      width: 14.1rem;
    }

    &__copyright {

      align-items: center;
      color: $bluey-grey;
      display: flex;
      font-size: 1rem;
      position: absolute;
      right: 9.7rem;

      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        right: 5%;
      }

      @media only screen and (max-width: 767px) {
        right: 0;
      }

      &-label {
        display: block;
        font-family: Raleway-Light;

        &:first-letter {
          margin-right: .3rem;
        }

      }

      &-date {
        display: block;
        font-family: Roboto-Light;
        margin: 0 2.8rem 0 .3rem;
      }

    }

  }

}

@media only screen and (max-width: 1279px) {

  .footer-container {

    &__content {
      width: 100%
    }

  }

}

@media only screen and (min-width: 890px) and (max-width: 945px) {

  .footer-container {

    &__content {

      &__button-list {
        //todo cuando se regresen los cambios se debe colocar para que  muestre los dos items
        // width: 21.4rem;
      }

      &__social-media-list {
        padding-left: 1rem;
        width: 12.1rem;
      }

      &__copyright {

        &-date {
          margin: 0 2rem 0 .3rem;
        }

      }

    }

  }

}

@media only screen and (min-width: 723px) and (max-width: 890px) {

  .footer-container {

    &__content {

      &__social-media-list {
        @media only screen and (max-width: 790px) {
          padding-left: .8rem;
          width: 11.1rem;
        }

      }

      &__copyright {

        &-label, &-date {
          display: none;
        }

      }

    }

  }

}

@media only screen and (max-width: 722px) {

  .footer-container {

    height: 5.5rem;

    &__content {

      width: 37.4rem;

      @media only screen and (max-width: 415px) {
        margin: 0;
      }


      &__country-list {
        width: 19.7rem;
      }

      @media only screen and (max-width: 411px) {
        justify-content: space-between;
        width: 100%;
        &__country-list {
          width: 55%;
        }

      }

      &__button-list,
      &__social-media-list {
        display: none;
      }

      &__copyright {

        &-label, &-date {
          display: none;
        }

      }

    }

  }

}
