@include sizes(nav-bar-container__content, false);

.nav-bar-container {

  height: 6rem;
  width: 100%;
  z-index: 5;

  &__content {

    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 128rem;

    &__logo {
      width: 50%;
    }

    &__menu {

      display: flex;
      justify-content: flex-end;
      width: 50%;

      .separator-horizontal {
        border: .1px $bluey-grey solid !important;
        height: auto !important;
        margin: 0 1.9rem;
        opacity: .3 !important;
      }

    }

  }

}

@media only screen and (max-width: 720px) {

  .nav-bar-container__content {

      width: 95% !important;

      @media only screen and (max-width: 590px) {
        padding: 0 4%;
        width: 100% !important;
      }

  }

}


.on-scroll {
  position: sticky;
  top: 0;
  transition: all .1s ease-out;
  z-index: 3;
  -o-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;

}
