.input-container {

  @include font-raleway-medium();
  background: $transparent;
  border: solid 0.1rem $first-color;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  padding: 1.3rem;

  &:focus {
    outline: none;
  }




}

.input-container-placeholder-dark {
  &::placeholder {
    color: $fourteenth-color !important;
  }

}
.input-container-placeholder-light {
  &::placeholder {
    color: $sixteenth-color !important;
  }
}

@media only screen and (max-width: 767px) {

  .input-container {
    height: 5rem !important;
    margin-top: 2rem !important;
    width: 100% !important;
  }

}

@media only screen and (max-width: 414px) {

  .input-container {
    height: 5rem !important;
    margin-top: 2rem !important;
    width: 100% !important;
  }

}

.input-container-contact-us {
  width: 50rem !important;
  border: none;
  border-bottom: .1rem solid $first-color;
  margin-bottom: 3rem !important;
  font: {
    family: Raleway-Semi-Bold;
    size: 2.4rem;
  };

/*  &::placeholder {
    color: $sixteenth-color !important;
  }*/

  @media only screen and (min-width: 720px) and (max-width: 950px) {
    width: 69rem !important;
  }
  @media only screen and (min-width: 414px) and (max-width: 719px) {
    width: 37.4rem !important;
  }
  @media only screen and (max-width: 413px) {
    width: 100% !important;
  }

}
