.about-us-contact-us-container {

  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    color: $fourth-color;
    font: {
      family: Raleway-Medium;
      size: 1.4rem;
      stretch: normal;
      style: normal;
    }
    letter-spacing: normal;
    line-height: 1.29;
    margin: 0 0 2.1rem 0;
    padding: 0;
    text-align: center;
  }

  &__content {
    color: $bluey-grey;
    font: {
      family: Raleway;
      size: 1rem;
      stretch: normal;
      style: normal;
      weight: normal;
    }
    height:auto;
    letter-spacing: normal;
    line-height: 1.5;
    text-align: center;
    width: 82%;
    @media only screen and (max-width: 1056px) {
      width: 100%;
    }

  }

  &__image {
    background-color: transparent;
    border: none;
    height: 3.2rem;
    width: 4.4rem;
    text-align: center;
    padding: 0;
    cursor: pointer;
    outline: none;
    &:focus, &:hover {
      border: none;
      outline: none;
    }

  }

}

/*@media only screen and (max-width: 767px) {

  .about-us-contact-us-container {

    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-left: 2rem;

    &__content {
      color: $bluey-grey;
      font-size: 1.4rem;
      height: auto;
      line-height: 1.29;
      margin-bottom: 1.8rem;
      text-align: center;
      width: 70%;
    }

  }

}*/
