.about-us-category-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //TODO eliminar cuando esten todas las opciones disponible
  &:last-child {
    display: none;
  }
}

@media only screen and (max-width: 722px) {
  .about-us-category-container {
    height: 12rem;
  }
}
