.about-us-input-container {

  &__label {
    color: $fourth-color;
    font: {
      family: Raleway-Medium;
      size: 1.2rem;
      stretch: normal;
      style: normal;
    }
    height: auto;
    letter-spacing: normal;
    line-height: 1.5;
    text-align: left;
    width: 73%;
  }

  &__field {

    display: flex;
    height: 3.5rem;
    margin-top: 1.2rem;
    width: 34.2rem;


    &__input {
      background-color: $bluey-grey-rbba;
      border: 0;
      color: $bluey-grey !important;
      font: {
        family: Raleway;
        size: 1.0rem;
        stretch: normal;
        style: normal;
        weight: normal;
      }
      height: 3.5rem !important;
      letter-spacing: normal;
      line-height: 2.4;
      padding: 1.2rem 1.4rem;
      text-align: left;
      width: 73% !important;

      &::placeholder {
        color: $bluey-grey !important;
      }

      &:focus {
        outline: none;
      }

    }

  }

}
