.container-promotion {

  margin-top: 10rem;

  &-title {
    @include font-title;
  }

  &-subtitle {
    @include font-subtitle;
    margin-top: .8rem;
    width: 62.8rem;
  }

  &-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 7.2rem;
  }

}

.container-complements {

  margin-top: 10rem;

  &-title {
    @include font-title;
  }

  &-subtitle {
    @include font-subtitle;
    margin-top: .8rem;
  }

  &-image {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
  }

}


@media only screen and (min-width: 723px) and (max-width: 1150px) {

    .container-complements {

      &-image {
        justify-content: space-evenly;
      }

    }

    .container-promotion {

      margin-top: 10rem;

      &-image {
        justify-content: space-evenly;
      }

    }

  }

@media only screen and (min-width: 414px) and (max-width: 722px) {

  .container-complements {

    margin-top: 10rem;

    &-subtitle {
      @include font-subtitle;
      margin-top: 3rem;
    }

    &-image {
      display: flex;
      margin-top: 5rem;
    }

  }

  .container-promotion {


    &-title {
      @include font-title;
    }

    &-subtitle {
      @include font-subtitle;
      margin-top: 3rem;
      width: 95%;
    }

    &-image {

      justify-content: center;
    }

  }
}

@media only screen and (max-width: 413px) {

    .container-promotion {

      &-subtitle {
        width: 100%;
      }

      &-image {
        justify-content: center;
      }

    }

  .container-complements {
    &-image {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
    }
  }

}
