.list-image-container {

  position: relative;
  display: flex;
  margin-top: 6rem;

  &__legeng {
    padding: 6% 1% 5% 0;
    width: 45%;
    &__title {
      @include font-title;
      display: block;

    }

    &__list {
      margin-top: 5%;

      &-item {
        display: flex;
        margin-bottom: 1.6rem;

        &-circle {
          border-radius: 50%;
          height: .6rem;
          width: .6rem;
          margin: 1rem 1rem 0 0;
        }

        &-label {
          @include font-subtitle(1.8rem);
        }

      }
    }

    &__button {
      margin-top: 3rem;
    }

  }

  &__image {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    width: 55%;
    height: 49.1rem;
    background: {

      position: center center;
      repeat: no-repeat;
      size: contain;
    };
  }
  &__button {
    display: none;
  }

}

@media only screen and (min-width: 723px) and (max-width: 1150px) {

  .list-image-container {

    flex-direction: column;

    &__legeng {
      padding: 0;
      width: 100%;

      &__button {
        display: none;
      }
    }

    &__image {
      margin: 0 auto;
      width: 64.4rem;
      height: 44.8rem;
    }

    &__button {
      margin-top: 0;
      display: flex;

      justify-content: center;
    }

  }
}

@media only screen and (min-width: 414px) and (max-width: 722px) {

  .list-image-container {

    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    &__legeng {

      padding: 0;
      width: 100%;

      &__list {
        padding-left: .5rem;
      }
      &__button {
        display: none;
      }
    }

    &__image {

      width: 100%;
      margin: 5.8rem auto 0 auto;
      height: 30rem;
      background-attachment: scroll;
    }

    &__button {
      margin-top: 2.5rem;
      display: flex;

      justify-content: center;
    }

  }
}

@media only screen and (max-width: 413px) {
  .list-image-container {

    display: flex;
    margin-top: 6rem;
    flex-wrap: wrap;
    &__legeng {
      padding: 0;
      width: 100%;

      &__list {
        margin-top: 5%;

        &-item {
          display: flex;
          margin-bottom: 1.6rem;

          &-circle {
            border-radius: 50%;
            height: .6rem;
            width: .6rem;
            margin: 1rem 1rem 0 0;
          }

          &-label {
            @include font-subtitle(1.8rem);
          }

        }
      }

      &__button {
       display: none;
      }

    }

    &__image {
      height: 30rem;
      width: 100%;
      background-attachment: scroll;
    }

    &__button {
      display: flex;
      width: 100%;
    }

  }
}


.bg-contain {
  margin-top: 0 !important;
  background-size:contain !important;
  height: 30.2rem !important;
}

.mt-10rem {
  margin-top: 10rem;

}
