.sell-with-us-container {

  padding: 2.5rem  0 6.7rem 0;

  &_title {
    @include font-title;
    display: block;
    width: 67.2rem;
  }

  &__list-category {
    display: flex;
    margin-top: 5.8rem;
  }

}

@media only screen and (min-width: 723px) and (max-width: 1150px) {

  .sell-with-us-container {

    &__list-category {
      margin-top: 8.4rem;
    }

  }

}

@media only screen and (min-width: 414px) and (max-width: 722px) {

  .sell-with-us-container {

    margin: 0 auto;
    width: 37.4rem;

    &_title {
      @include font-title;
      display: block;
      width: 95%;
    }

    &__list-category {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 10rem;
    }

  }

}
@media only screen and (max-width: 413px) {

  .sell-with-us-container {

    margin: 0 auto;
    padding-bottom: 8rem;
    width: 95%;

    &_title {
      @include font-title;
      display: block;
      width: 100%;
    }

    &__list-category {
      display: flex;
      margin-top: 5.8rem;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

}

.item-shadow-swu-dark {

  background: $seventh-color;
  border: none;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .20);
  text-decoration: none !important;
  &:hover {
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, .62);
    -moz-box-shadow: 0 0 4rem 0 rgba(0, 0, 0, .62);
    -webkit-box-shadow:  0 0 4rem 0 rgba(0, 0, 0, .62);
  }

}

.item-shadow-swu-light {
  background: $fourth-color;
  border: none;
  box-shadow: 0 0 1rem 0 rgba(207, 216, 230, .35);
  text-decoration: none !important;
  -moz-box-shadow: 0 0 1rem 0 rgba(207, 216, 230, .35);
  -webkit-box-shadow: 0 0 1rem 0 rgba(207, 216, 230, .35);

  &:hover {
    box-shadow: 0 0 4rem 0 rgba(207, 216, 230, 0.35);
    -moz-box-shadow: 0 0 4rem 0 rgba(207, 216, 230, .35);
    -webkit-box-shadow: 0 0 4rem 0 rgba(207, 216, 230, .35);
  }

}
