@include sizes(carousel-caption, false);

.carousel-caption {

  bottom: 0 !important;
  height: fit-content;
  left: 50% !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 128rem;

  @media only screen and (max-width: 590px) {
    width: 100%;
    height: 100%;
  }

}

.legend-carousel-container {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;

  &__title {
    @include font-header(Raleway-Bold, 4.7, 1.17);
    min-height: 5.5rem;
  }

  &__author {
    @include font-header(Raleway-Medium, 3, 1.17);
    min-height: 3.5rem;
  }

  &__content {
    @include font-header(Raleway, 1.4, 1.43);
    min-height: 4rem;
  }

}

@media only screen and (min-width: 720px) and (max-width: 890px) {

  .legend-carousel-container {

    &__title {
      font-size: 2.8rem;
      min-height: 3.3rem;
    }

    &__author {
      font-size: 2rem;
      min-height: 2.4rem;
    }

    &__content {
      min-height: 4.2rem;
    }

  }

}

@media only screen and (max-width: 719px) {

  .legend-carousel-container {

    height: 100% !important;
    justify-content: center;
    width: 100%;

    &__title {
      font-size: 3rem;
      min-height: 3.5rem;
      width: 90%;
    }

    &__author {
      font-size: 1.8rem;
      min-height: 2.1rem;
      width: 90%;
    }

    &__content {
      min-height: 4.2rem;
      width: 90%;
    }

  }

}
