.content-menu-container {

  display: flex;
  flex-direction: column;
  height: 100%;

  position: absolute;
  right: 0;
  top: 0;
  width: 24rem;
  z-index: 4;

  &__item-title {
    display: block;
    font: {
      family: Raleway;

      size: 1.6rem;
    };
    margin: 3.2rem 0 0 2.1rem;
    letter-spacing: 0.24rem;
    line-height: 1.5;
  }

  &__item {

    display: block;
    font-size: 1.4rem;
    margin: 2rem 0 0 2.1rem;
    line-height: 0.12rem;

    .button-principal {
      font: {
        family: Raleway;
        size: 1.6rem;
      };
      margin: 0;
      padding: 0;
      text-align: left;
    }

  }

  &__item-dark {

    .button-principal,
    .button-principal__header-login,
    .button-principal__country-container {
      color: $first-color !important;
      font-size: 1.6rem !important;
    }

  }

  &__item-light {

    .button-principal,
    .button-principal__header-login,
    .button-principal__country-container {
      color: $charcoal-grey !important;
      font-size: 1.6rem !important;
    }

  }

}
.button-principal__set-language {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
