.content-city-container {

  align-content: center;
  display: flex;
  flex-direction: column;

  &__top {

    height: 41.5rem;
    width: 100%;

    &__label {
      font: {
        family: Raleway-Bold;
        size: 2.2rem;
      };
      height: 2.6rem;
      line-height: 2.6rem;
      margin: 3rem auto 4.8rem auto;
      text-align: center;
    }

    &__list {

      height: 28rem;
      margin: 0 auto 13% auto;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
      width: 31.8rem;

      &::-webkit-scrollbar {
        background-color: transparent;
        width: .9rem !important;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $ninth-color;
        border-radius: .2rem;
      }

    }

  }

  &__button {
    align-content: center;
    display: flex;
    justify-content: center;
  }

}


@media only screen and (max-width: 767px) {

  .content-city-container {

    &__top {

      height: auto;
      width: 100% !important;

      &__list {
        width: 80% ;
      }

      &__header {

        &__image {
          margin: 0 auto 5.8rem auto;
        }

      }

    }

  }

}
