.modal-init-container {

  margin: 1.8rem 9rem 6.8rem 9rem;

  &__separator-light {
    border-top: .1rem solid rgba(53,59,71,.1);
    margin-top: 1rem;
    padding-top: 1.4rem;
  }

  &__separator-dark {
    border-top: .1rem solid rgba(255,255,255,.1);
    margin-top: 1rem;
    padding-top: 1.4rem;
  }

  &__header {

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__image {
      margin: 0 auto 2.7rem auto;
    }

    &__label {
      margin: 0 auto 3.2rem auto;
      font: {
        family: Raleway-Bold;
        size: 1.4rem;
        weight: bold;
      };
    }

    &__label-subtitle {
      font: {
        family: Raleway-Bold;
        size: 1.4rem;
        weight: bold;
      };
      margin: 0 auto 3.2rem auto;
    }

    &__label-alternative {
      display: none;
    }

    &__default-country {
      margin-bottom: 3.6rem;
    }

  }

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 8rem;
    margin-right: 8rem;
  }
    @media only screen and (max-width: 767px) {

      margin: 0.8rem 4% 0 4%;

    &__header {

      display: block;
      text-align: center;
      margin-bottom: 5%;

      &__image {
        margin: 2rem auto 4.1rem auto;
      }

      &__label {
        display: none;
      }

      &__label-alternative {
        display: block;
        font: {
          family: Raleway-Bold;
          size: 2.2rem;
          weight: bold;
        };
        margin: 0 auto 3.2rem auto;
        text-align: center;
      }

      &__label-subtitle {
        font: {
          family: Raleway-Bold;
          size: 2.2rem;
          weight: bold;
        };
        margin-bottom: 2.6rem;
        text-align: center;
      }

      &__default-country {

        .country-container__flag-label__button {
          width: 52% !important;
        }

      }

    }

  }

}

.fade, .modal, .show {
  padding-right: 0 !important;
}
