.language-container {

  display: flex;
  flex-direction: column;
  width: 12rem;

  &__btn-item {
    margin-bottom: 0.5rem;
    outline: none;
  }

  &__content-button {
    align-items: center;
    display: flex;
    border-bottom: 0.1rem solid;
    padding-bottom: .55rem;

    &__label {
      margin-right: 4.6rem;
    }
  }

  &__content-list {
    @include button;
    width: 100% !important;
    margin-left: 0;
    margin-top: 0;
    text-align: left;

    &__light {
      &:hover {
        background-color: $black;
        color: $fourth-color !important;
        width: 100% !important;
      }
    }

    &__dark {
      &:hover {
        background-color: $fourth-color;
        color: $black !important;
      }
    }
  }

}
