.modal-container {

  display: flex;
  justify-content: center;

  .modal-header {

    border: none;

    &__button-close {
      @include button;
      margin: 0 !important;
      position: absolute;
      right: 2.5%;
      z-index: 1;
    }

    .close {
      display: none;
    }

  }

  &__light {

    .modal-content {

      background-color: $fourth-color;
      border-radius: 0.4rem;
      box-shadow: 0 0 1rem 0 $box-shadow-modal;
      color: $bluey-grey;
      height: 55rem;
      width: 55rem;

      .modal-header {

        border: none;
        padding-bottom: 0;

        &__header-image {
          display: none;
        }

      }

    }

  }

  &__dark {

    .modal-content {

      background-color: $charcoal-grey;
      border-radius: 0.4rem;
      box-shadow: 0 0 1rem 0 $box-shadow-modal;
      color: $fourth-color;
      height: 55rem;
      width: 55rem;

      .modal-header {

        border: none;
        padding-bottom: 0;

        span {
          color: $fourth-color;
          font-size: 2rem;
        }

        &__header-image {
          display: none !important;
        }

      }

    }

  }

}

@media only screen and (max-width: 767px) {

  .modal-container {

    &__light {

      .modal-content {

        border: none;
        border-radius: 0;
        height: auto;
        margin: 0 auto;
        min-height: 100vh !important;
        width: 100%;

        .modal-header {

          border: none;
          padding: 2.2rem 1.6rem 2.2rem 2rem;

          &__header-image {
            display: flex;
          }

        }

      }

    }

    &__dark {

      .modal-content {

        border: none;
        height: auto;
        min-height: 100vh !important;
        width: 100%;

        .modal-header {
          border: none;
          border-radius: 0;
          padding: 2.2rem 1.6rem 2.2rem 2rem;

          &__header-image {
            background-color: transparent;
            display: flex !important;
          }

        }

      }

    }

  }

  .modal-dialog {
    margin: 0  auto !important;
  }

  .fade {
    background-color: $fifth-color;
    margin: 0 !important;
    opacity: 1
  }

  .modal, .show {
    padding-left: 0 !important;
  }

}
//TODO jugar con este para colocar el background
.modal-backdrop.fade {
  background-color: $fifth-color;
  filter: alpha(opacity=100) !important;
  opacity: .9 !important;
}
