.switch {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 1.7rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $charcoal-grey;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input {
  &:checked + .slider {
    background-color: $turquoise-blue;
  }

  &:focus + .slider {
    box-shadow: 0 0 0.1rem $turquoise-blue;
  }

  &:checked + .slider:before {
    -webkit-transform: translateX(1.3rem);
    -ms-transform: translateX(1.3rem);
    transform: translateX(1.3rem);
  }
}

.slider.round {
  border-radius: 3.4rem;

  &:before {
    border-radius: 50%;
  }
}
