.tk-play-image-container {

  background-color: $black;
  border-radius: .2rem;
  box-shadow: 0 0 10px 0 rgba(75, 84, 103, 0.35);
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;

  &__image {
    border-radius: .2rem;
    height: 100%;
    width: 100%
  }

}

@media only screen and (min-width: 411px) and (max-width: 722px) {

  .tk-play-image-container {

  height: 55.27rem !important;
  width: 37.4rem !important;

  }

}

@media only screen and (max-width: 410px) {

  .tk-play-image-container {
  height: 147% !important;
  width: 100% !important;
  }

}
