.find-show-container-item {

  &__image-content {

    border-radius: .2rem;
    display: inline-block;
    position: relative;
    text-align: center;

    &__image {
      border-radius: .2rem;
      height: 100%;
      width: 100%;
    }

    &__button {
      @include button;
      bottom: 0;
      color: $fourth-color !important;
      font: {
        family: Raleway;
        size: 1.6rem;
        stretch: normal;
        style: normal;
        weight: bold;
      }
      height: 1.6rem;
      left: 5.84%;
      letter-spacing: normal;
      line-height: 1.25;
      margin: 0;
      padding: 0;
      position: absolute;
      text-align: left;
      top: 83%;
      width: 7.3rem;
    }

  }

}

@media only screen and (max-width: 722px) {

  .find-show-container-item {

    &__image-content {
    margin-bottom: 3rem;
    }

  }

}
