.item-country-container {

  @include button;
  height: auto !important;
  padding: .9rem 0 .9rem 1.5rem;
  margin: 0;
  width: 100% !important;

  &:hover {
    background-color: $fourth-color;
  }

  &__content {

    height: auto;
    text-align: left;
    width: 100%;

    &__image {
      height: 1.6rem;
      margin-right: 1.1rem;
      width: 2.4rem;
    }

    &__label {
      color: $bluey-grey;
      font: {
        family: Raleway !important;
        size: 1rem !important;
        stretch: normal;
        style: normal;
        weight: normal;
      }
      height: auto !important;
      letter-spacing: normal;
      line-height: 1.67;
      text-align: left;

      &:hover {
        color: $black;
      }

    }

  }

}

@media only screen and (max-width: 722px) {

  .item-country-container {

    padding-left: 2.1rem;

    &__content {

      &__image {
        height: 2rem;
        margin-right: 1.6rem;
        width: 3rem;
      }

      &__label {
        color: $bluey-grey;
        font: {
          family: Raleway !important;
          size: 1.2rem !important;
        }

      }

    }

  }

}
