.item-contactus-container {

  align-items: center;
  display: flex;
  height: 12.6rem;
  justify-content: center;
  margin-bottom: 3.2rem;
  width: 35rem;

  &__image {
    height: 5rem;
    margin-right: 2.2rem;
    margin-top: -1rem;
    width: 5rem;
  }

  &__content {
    text-decoration: none !important;
    width: 70%;

     &-title {
       text-decoration: none !important;
       color: $charcoal-grey;
       font: {
         family: Raleway-Semi-Bold;
         size: 1.6rem;
       };
       height: 2rem;
       line-height: 3rem;
       margin-bottom: .6rem;
       overflow: hidden;
       text-overflow: ellipsis;
     }

    &-content {
      text-decoration: none !important;
      color: $bluey-grey;
      font: {
        family: Raleway;
        size: 1.4rem;
      };
      height: 4rem;
      line-height: 2.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}

@media only screen and (max-width: 1280px) {
  .item-contactus-container {
    height: 13rem;
    width: 30%;
  }
}
@media only screen and (min-width: 820px) and (max-width: 1180px) {
  .item-contactus-container {
    height: 14rem;
    width: 35rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .item-contactus-container {
    height: 14rem;
    width: 33rem;
  }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
  .item-contactus-container {
    height: 14rem;
    width: 37.4rem;
  }
}
@media only screen and (max-width: 413px) {
  .item-contactus-container {
    height: 14rem;
    width:100%;
  }

}

