.item-sell-wus-content-container-complement {

  height: 54rem;
  width: 35rem;
  margin-right: 3rem;
  border-radius: .5rem;
  cursor: pointer;

  &__image {
    height: 36.3rem;
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background: {
      position: center center;
      repeat: no-repeat;
      size: cover;
    };
  }

  &__content {
    margin-top: 2rem;
    padding: 0 1rem 0 2rem;
    &-title {
      font: {
        family: Raleway-Semi-Bold;
        size: 2.2rem;
      };
      line-height: 3rem;
    }

    &-legend {

      color: $bluey-grey;
      width: 100%;
      font: {
        family: Raleway;
        size: 1.4rem;
      };
      margin-top: 1.8rem;
    }
  }


}

.item-sell-wus-content-container-promotion {

  cursor: pointer;
  height: 40rem;
  width: 34rem;
  border-radius: .5rem;
  margin-bottom: 4.8rem;

  &__image {

    height: 10rem;
    width: 10rem;
    margin: 8rem auto 4.9rem auto;
    background: {
      position: center center;
      repeat: no-repeat;
      size: contain;
    };
  }

  &__content {
    text-align: center;
    padding: 0 3rem;
    &-title {
      font: {
        family: Raleway-Semi-Bold;
        size: 2.2rem;
      };
      line-height: 3rem;
      margin-top: 2rem;
    }

    &-legend {
      color: $bluey-grey;
      width: 100%;
      font: {
        family: Raleway;
        size: 1.4rem;
      };
      margin-top: 1.8rem;
    }
  }

}

.last-item-promotion {
  display: none;
}

@media only screen and (min-width: 723px) and (max-width: 1150px) {

  .item-sell-wus-content-container-complement {

    height: 46.9rem;
    margin-right: 0;
    width: 32.6rem;

    &__image {
      height: 30.5rem;
    }

  }

  .item-sell-wus-content-container-promotion {
    width: 32.6rem;
  }

  .last-item-promotion {
    border-top-width: 0;
    border-bottom-width: 0;
    content: '';
    display: flex;
    height: 0;
    padding: 0;
    margin: 0;
    width: 32.6rem;
    visibility: hidden;
  }

}

@media only screen and (min-width: 414px) and (max-width: 722px) {

  .item-sell-wus-content-container-complement {

    height: 53.8rem;
    margin-bottom:4rem;
    width: 37.4rem;

    &__image {
      height: 35rem;
    }

  }

  .item-sell-wus-content-container-promotion {
    width: 100%;
  }

}
@media only screen and (max-width: 413px) {

  .item-sell-wus-content-container-complement {

    height: 53.8rem;
    margin: 0 auto 4rem auto;
    width: 95%;
    &__image {
      height: 35rem;
    }

  }
  .item-sell-wus-content-container-promotion {
    width: 95%;
  }

}
