.item-select-country-container {
  align-items: center;
  display: flex;
  height: 10rem;
  width: 32rem !important;
  margin-bottom: 3rem;
}



.item-select-country-container-last-item {
  @include last-item;
  width: 32rem !important;
}

.item-shadow-light {
  background-color: transparent;
  box-shadow: 0 0 1rem 0 rgba(207, 216, 230, 0.25) !important;
}
.item-shadow-dark {
  background-color: transparent !important;
  box-shadow: 0 0 1rem 0rgba(16, 16, 16, 0.25) !important;
}
