.item-sell-wuc-container {

  align-items: center;
  border-radius: .5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 15.9rem;
  justify-content: center;
  margin: 0 3rem 4.8rem 0;
  width: 15.9rem;

  &__image {
    height: 6rem;
    background: {
      position: center center;
      size: contain;
      repeat: no-repeat;
    };
    width: 6rem;
  }

  &__label {
    font: {
      family: Raleway-Medium;
      size: 1.4rem;
    };
    line-height: 1.6rem;
    margin-top: 2.26rem;
  }

}

@media only screen and (max-width: 722px) {
  .item-sell-wuc-container {

    height: 17.2rem;
    width: 17.2rem;

    margin-right: 0;

  }

}
