.item-city-container__border-bottom__dark {

  border-bottom: 0.1rem solid rgba(244, 244, 244, .1);
  display: flex;
  height: 5rem;
  padding: .7rem .5rem .5rem 0.7rem;
  width: 100%;

 &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

}

.item-city-container__normal__dark {
  border-bottom: 0.1rem solid rgba(244, 244, 244, .1);
  display: flex;
  height: 5rem;
  padding: .7rem .5rem .5rem 0.7rem;
  width: 100%;
}

.item-city-container__border-bottom__light {

  border-bottom: 0.1rem solid rgba(244, 244, 244, 1);
  display: flex;
  height: 5rem;
  padding: .7rem .5rem .5rem 0.7rem;
  width: 100%;

 &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

}

.item-city-container__normal__light  {
  border-bottom: 0.1rem solid rgba(244, 244, 244, 1);
  display: flex;
  height: 5rem;
  padding: .7rem .5rem .5rem 0.7rem;
  width: 100%;
}
