.item-brand-resource-container {

  margin-right: 3rem;
  width: 24.5rem;

  &__image {
    background: {
      position: center center;
      repeat: no-repeat;
      size: 80% 65%;
    };
    border: .1rem solid $twentieth-color;
    border-radius: .5rem;
    height: 14.5rem;
    width: 100%;
  }

  &__content {
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: space-between;
    margin-top: 2.3rem;
    padding: 1.7rem 2rem;
    text-decoration: none !important;

    &:visited, &:link, &:hover, &:active {
      color: inherit;
      text-decoration: none !important;
    }

    &-image {

      display: flex;

      img {
        height: 3.2rem;
        margin-right: .9rem;
        width: 2.6rem;
      }

      &__text {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &-title {
          font: {
            family: Raleway-Semi-Bold;
            size: 1.2rem;
          };
          line-height: 1.5rem;
          margin-top: .4rem;
        }

        &-subtitle {
          color: $bluey-grey;
          font: {
            family: Raleway;
            size: 1rem;
          };
        }

      }

    }

    &__download {
      height: 2rem;
      width: 1.8rem;
    }

  }

}

@media only screen and (min-width: 720px) and (max-width: 1180px) {

  .item-brand-resource-container {

    margin-right: 3rem;
    width: 30rem;

    &__image {
      height: 20rem;
    }

    &__content {

      margin-top: 3.2rem;

      &-image {

        img {
          height: 4.4rem;
          margin-right: .9rem;
          width: 3.5rem;
        }

        &__text {

          &-title {
            font-size: 1.6rem;
            line-height: 2.2rem;
            margin-top: .5rem;
          }

          &-subtitle {
            font-size: 1.4rem;
            line-height: 2.2rem;
          }

        }

      }

    }

  }

}

@media only screen and (max-width: 719px) {

  .item-brand-resource-container {

    margin-right: 0;
    margin-bottom: 7.2rem;
    width: 100%;

    &__image {
      height: 20rem;
      width: 100%;
    }

    &__content {

      margin-top: 2.3rem;

      &-image {

        img {
          height: 4.4rem;
          width: 3.5rem;
        }

        &__text {

          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          &-title {
            font-size: 1.6rem;
            margin-top: .5rem;
            line-height: 2.2rem;
          }

          &-subtitle {
            font-size: 1.4rem;
          }

        }

      }

    }

  }

}
