.card-item-event-search-container {

  border-radius: .2rem;
  cursor: pointer;
  margin: 0 0 3rem 0;
  position: relative;
  text-align: center;

  &__image {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    cursor: pointer;
    height: 74.35%;
    width: 100%;
  }

  &__legend {
    width: 100%;

    &__name {
      @include overflow-label();
      font: {
        family: Raleway;
        size: 1.6rem;
        stretch: normal;
        style: normal;
        weight: normal;
      }
      letter-spacing: normal;
      line-height: 1.19;
      margin: 1.1rem auto 0 auto;
      text-align: center;
      width: 75%;
      white-space: nowrap;

      &:first-letter {
        text-transform: capitalize !important;
      }

    }

    &__city {
      @include overflow-label();
      font: {
        family: Raleway;
        size: 1.4rem;
        stretch: normal;
        style: normal;
        weight: normal;
      };
      letter-spacing: normal;
      line-height: 1.43;
      text-align: center;
      text-transform: capitalize;
      margin: 0 auto;
      width: 75%;
    }

  }
}
