.country-container {

  display: flex;
  margin-bottom: 2rem;

  &__flag-label {

    display: flex;
    padding: 0 !important;
    margin: 0 !important;
    width: 47%;

    &__label {
      color: $third-color;
      font: {
        family: Raleway;
        size: 1.4rem;
        stretch: normal;
        style: normal;
        weight: normal;
      };
      letter-spacing: normal;
      line-height: 1.43;
      margin-left: 1rem;
    }

    &__button {
      display: flex;
      justify-content: flex-end;
      padding: 0 !important;
      margin: 0 !important;
      width: 53%;
    }

  }

}

@media only screen and (max-width: 767px) {

  .country-container {

    &__flag-label {

      align-items: center;

      &__label {
        font: {
          size: 1.4rem;
        };
      }

      &__button {
        align-items: center;
        width: 47%;
      }

    }

  }

}
