.card-item-event-container {

  border-radius: .2rem;
  cursor: pointer;
  margin: 0 0 3rem 0;
  position: relative;

  &__image {
    border-top-right-radius: .2rem;
    border-top-left-radius: .2rem;
    cursor: pointer;
    height: 74.35%;
    width: 100%;
  }

  &__icon {
    align-items: center;
    background: $fourth-color;
    border-radius: .2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.16);
    display: flex;
    height: 2.5rem;
    justify-content: center;
    min-width: 10rem;
    padding: 0 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;

    &-image {
      height: 1.5rem;
      margin-right: .4rem;
      width: 1.5rem;
    }

    &-label {
      color: $charcoal-grey;
      font: {
        family: Raleway-Extra-Bold;
        size: 1rem;
      }
      line-height: 1.1rem;
      text-transform: uppercase;
    }

  }

  &__legend {

    height: 25.65%;
    display: flex;
    margin: 0 auto;
    width: 96%;

    &__name-ubication {

      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 1% 0 0 !important;
      padding: 0 !important;
      width: 79%;

      &__name {
        @include overflow-label();
        font: {
          family: Raleway-Semi-Bold;
          size: 1.4rem;
          stretch: normal;
          style: normal;
        }
        letter-spacing: normal;
        line-height: 1.14;
        text-align: left;
      }

      &__ubication {
        @include overflow-label();
        color: $bluey-grey;
        font: {
          family: Raleway-Medium;
          size: 1.2rem;
          stretch: normal;
          style: normal;
        }
        letter-spacing: normal;
        line-height: 1.67;
        text-align: left;
        white-space: nowrap;
      }

    }

    &__date {

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 !important;
      width: 20%;

      &__day {
        color: $turquoise-blue;
        font: {
          family: Roboto-Medium;
          size: 2rem;
          stretch: normal;
          style: normal;
        }
        letter-spacing: -0.1rem;
        line-height: 1.2;
        margin-bottom: -.45rem;
        margin-top: -0.1rem;
        text-align: center;
      }

      &__month {
        color: $bluey-grey;
        font: {
          family: Raleway-Medium;
          size: 1rem;
          stretch: normal;
          style: normal;
        }
        letter-spacing: normal;
        margin-bottom: .7rem;
        text-align: center;
        text-transform: uppercase;
      }

    }

  }

}
