.multi-carousel-item-container {

  border-radius: .2rem;

  @include body-carousel-item-container();

  &__title {
    @include label-item-multicarousel(Raleway-Semi-Bold, 87.39,1.4);
  }

  &__location {
    @include label-item-multicarousel(Raleway-Medium,92.1, 1.2);
  }

  &__image {
    border-radius: .2rem;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

}

@media only screen and (max-width: 767px) {

  .multi-carousel-item-container {

    @include body-carousel-item-container();

    &__title {
      font-size: 1.6rem;
    }

  }

}
