.about-us-container {

  background-color: $sixth-color;
  position: relative;
  width: 100%;

  &__separator {
    display: none;
    position: absolute;
  }

  &__content {

    height: 39.8rem;
    margin: 0 auto;
    padding-bottom: 10.7rem !important;
    padding-top: 7.9rem !important;
    position: relative;
    width: 128rem;

    &__category {
      display: flex;
      position: absolute;
      //Todo borrar cuando se implemente el input
      top: 29.27%;
      width: 55.78%;
    }

    &__separator {
      left: 63.4%;
      position: absolute;
      top: 29.27%;
    }

    &__input-button {
      position: absolute;
      top: 57.79%;
    }

    &__contact-us {
      left: 67.73%;
      position: absolute;
      top: 29.27%;
      width: 27.43%;
    }

    &__backstage, &__social-media {
      display: none;
      position: absolute;
    }

  }

}

@media only screen and (max-width: 1279px) {

  .about-us-container {
    &__content {
      width: 100%
    }

  }

}

@media only screen and (max-width: 860px) {

  .about-us-container {

    &__content {

      height: 41rem;
      padding-top: 5.9rem !important;
      padding-bottom: 5.6rem !important;

      &__category {
        top: 20%;
        width: auto;
        left: 0;
        right: 0;
        justify-content: space-evenly;
        margin: 0 auto;
      }

      &__separator {
        left: 55.4%;
        top: 58.29%;
        display: none;
      }

      &__input-button {
        top: 57.79%;
        display: none;
      }

      &__contact-us {
        left: 0 !important;
        right: 0 !important;
        justify-content: space-evenly;
        margin: 0 auto;
        top: 54.63%;
        width: 38.43%;
      }

    }

  }

}

@media only screen and (min-width: 723px) and (max-width: 859px) {

  .about-us-container {

    &__content {

      height: 41rem;
      padding-bottom: 5.6rem !important;
      padding-top: 4.9rem !important;

      &__contact-us {
        top: 55.63%;
        width: 38.43%;
      }
    }
  }
}

@media only screen and (max-width: 722px) {

  .about-us-container {

    width: 100%;

    &__separator {

      display: block;
      top: 42.5rem;
      width: 100%;

      .separator-horizontal {
        color: $charcoal-grey !important;
        width: 100% !important;
      }

    }

    &__content {

      height: 83.6rem;
      padding: 5.6rem 0 6rem 0 !important;
      width: 37.4rem !important;

      @media only screen and (max-width: 411px) {
        width: 95% !important;
      }

      &__category {
        align-items: center;
        flex-direction: column;
        top: 6rem;
        height: 35.5rem;
        justify-content: space-evenly;
        width: 100%;
      }

      &__contact-us {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 61.1rem;
        width: 85%;
      }

      &__backstage {

        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 46.1rem;
        width: 100%;

        &__label {
          color: $fourth-color;
          font: {
            family: Raleway-Medium;
            size: 1.4rem;
            stretch: normal;
            style: normal;
          }
          height: 1.6rem;
          letter-spacing: 0.028rem;
          line-height: 1.71;
          text-align: center;
        }

        &__button {
          text-align: center;
        }

      }

      &__social-media {
        display: flex;
        justify-content: space-between;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 77.1rem;
        width: 50%;
      }

    }

  }

}


/*
.about-us-container {

  background-color: $sixth-color;
  position: relative;
  width: 100%;

  &__separator {
    display: none;
    position: absolute;
  }

  &__content {

    height: 39.8rem;
    margin: 0 auto;
    padding-bottom: 10.7rem !important;
    padding-top: 7.9rem !important;
    position: relative;
    width: 128rem;

    &__category {
      display: flex;
      position: absolute;
      //Todo borrar cuando se implemente el input
      top: 29.27%;
      width: 55.78%;
    }

    &__separator {
      left: 63.4%;
      position: absolute;
      top: 29.27%;
    }

    &__input-button {
      position: absolute;
      top: 57.79%;
    }

    &__contact-us {
      left: 67.73%;
      position: absolute;
      top: 29.27%;
      width: 27.43%;
    }

    &__backstage, &__social-media {
      display: none;
      position: absolute;
    }

  }

}

@media only screen and (max-width: 1279px) {

  .about-us-container {
    &__content {
      width: 100%
    }

  }

}

@media only screen and (max-width: 860px) {

  .about-us-container {

    &__content {

      height: 41rem;
      padding-top: 7.9rem !important;
      padding-bottom: 5.6rem !important;

      &__category {
        width: 92%;
      }

      &__separator {
        left: 55.4%;
        top: 58.29%;
      }

      &__input-button {
        top: 57.79%;
      }

      &__contact-us {
        left: 57.81%;
        top: 54.63%;
        width: 38.43%;
      }

    }

  }

}

@media only screen and (min-width: 723px) and (max-width: 860px) {

  .about-us-container {

    &__content {

      height: 41rem;
      padding-bottom: 5.6rem !important;
      padding-top: 4.9rem !important;

      &__category {
        width: 92%;
      }

      &__separator {
        left: 55.4%;
        top: 59.29%;

      }

      &__input-button {
        top: 58.79%;
      }

      &__contact-us {
        top: 55.63%;
        left: 57.81%;
        width: 38.43%;
      }
    }
  }
}

@media only screen and (max-width: 722px) {

  .about-us-container {

    width: 100%;

    &__separator {

      display: block;
      top: 42.5rem;
      width: 100%;

      .separator-horizontal {
        color: $charcoal-grey !important;
        width: 100% !important;
      }

    }

    &__content {

      height: 83.6rem;
      padding-bottom: 6rem !important;
      padding-top: 5.6rem !important;
      width: 37.4rem !important;

      @media only screen and (max-width: 411px) {
        width: 95% !important;
      }

      &__category {
        align-items: center;
        flex-direction: column;
        height: 35.5rem;
        justify-content: space-evenly;
        width: 100%;
      }

      &__separator {
        display: none;
      }

      &__input-button {
        display: none;
      }

      &__contact-us {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 61.1rem;
        width: 85%;
      }

      &__backstage {

        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 46.1rem;
        width: 100%;

        &__label {
          color: $fourth-color;
          font: {
            family: Raleway-Medium;
            size: 1.4rem;
            stretch: normal;
            style: normal;
          }
          height: 1.6rem;
          letter-spacing: 0.028rem;
          line-height: 1.71;
          text-align: center;
        }

        &__button {
          text-align: center;
        }

      }

      &__social-media {
        display: flex;
        justify-content: space-between;
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 77.1rem;
        width: 50%;
      }

    }

  }

}
 */
