.brand-resources-container {

  padding: 2.5rem 0;

  &__title {

    display: flex;
    flex-direction: column;

    &-title {
      font: {
        family: Raleway-Semi-Bold;
        size: 3.6rem;
      };
      line-height: 4.2rem;
    }

    &-image {
      height: 6rem;
      margin-bottom: 1rem;
      width: 6rem;
    }

    &-subtitle {
      font: {
        family: Raleway;
        size: 1.4rem;
      };
      line-height: 2.2rem;
      width: 57rem;
    }

  }
  &__content-images {
    margin-top: 5rem;
  }

}

@media only screen and (min-width: 720px) and (max-width: 1180px) {

  .brand-resources-container {

    &__title {

      &-subtitle {
        width: 51rem;
      }

    }

  }

}

@media only screen and (min-width: 414px) and (max-width: 719px) {

  .brand-resources-container {

    margin: 0 auto;
    width: 37.4rem;

    &__title {

      &-subtitle {
        width: 85%;
      }

    }

  }

}

@media only screen and (max-width: 413px) {

  .brand-resources-container {

    margin: 0 auto;
    width: 95%;

    &__title {

      &-subtitle {
        width: 95%;
      }

    }

  }

}
