.carousel-inner, .carousel, .slide, .carousel-fade {
  height: 100% !important;
  margin: 0 !important;
}

.carousel-control-prev, .carousel-control-next {
  display: none !important;
}

.carousel-item {
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
  height: 45rem;
  position: relative;
  transition-duration: 1.5s !important;
  width: 100%;

  @media only screen and (max-width: 890px) {
    height: 35rem;
  }

  @media only screen and (max-width: 590px) {
    height: 55rem;
  }

}

.carousel-indicators {

  margin-bottom: 0 !important;
  z-index: 2 !important;
  li {
    border-radius: 50% !important;
    height: .8rem !important;
    width: .8rem !important;

    @media only screen and (max-width: 590px) {
      height: .5rem !important;
      width: .5rem !important;
    }

  }

}
