@include sizes(cookies-container__content, false);

.cookies-container {

  background-color: $turquoise-blue;
  display: flex;
  height: 4.5rem;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;

  &__content {

    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 128rem;

    &__message {

      display: flex;
      justify-content: flex-end;
      justify-items: center;
      padding: 0 !important;

      &-label {
        color: $fourth-color;
        font: {
          family: Raleway-Semi-Bold;
          size: 1.2rem;
          stretch: normal;
          style: normal;
        }
        letter-spacing: normal;
        line-height: 1.67;
        text-align: left;
      }

      &-button {
        align-items: center;
        display: flex;
      }

    }

    &__button {
      display: flex;
      justify-content: flex-end;
      padding: 0 !important;
    }

  }

}

@media only screen and (max-width: 720px) {

  .cookies-container {

    &__content {
      width: 95% !important;
    }

    @media only screen and (max-width: 590px) {

      height: 9rem;

      &__content {

        &__message {

          display: block;
          margin-left: 4%;

          &-label {
            font-size: 1.1rem;
            padding-right: 2%;
          }
          &-button {
            margin-top: 0.5rem;
          }

        }

        &__button {
          height: 100%;
          justify-content: flex-start;
          margin-right: 3%;
        }

      }

    }

  }

}
