@include sizes(event-container, true);

.event-container {

  margin: 7.4rem auto 0 auto;

  &__dark {

    @include button-theme-multi-carousel($fourth-color)
  }

  &__light {
    @include button-theme-multi-carousel($charcoal-grey);
  }

  &__content {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__label {
      margin-bottom: 4.8rem;
    }

  }

  &__button {

    margin-top: 2.8rem;
    text-align: right;
    width: 100%;

    &__icon {
      border-radius: 50%;
      cursor: pointer;
      height: 2.29rem !important;
      width: 2.29rem !important;
    }

    &-label {

      display: flex;
      font: {
        family: Raleway-Medium;
        size: 1.4rem;
        stretch: normal;
        style: normal;
      }
      height: 1.6rem;
      letter-spacing: normal;
      line-height: 1.14;
      margin: .2rem 0 0 .55rem;
      text-align: left;

      .svg-inline--fa,
      .fa-plus-circle,
      .fa-minus-circle,
      .fa-w-16 {
        height: 1.4rem;
        margin: 0 .55rem .5rem 0;
        width: 1.4rem;
      }

    }

  }

}

@media only screen and (max-width: 722px) {

  .event-container {

    &__content {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &__label {
        margin-bottom: 4.8rem;
      }

    }

    &__button {

      margin-top: .8rem;
      text-align: center;

      &__label {

        display: flex;
        justify-content: space-evenly;
        width: 5rem;

        &__point {
          border-radius: 50%;
          height: 0.5rem;
          width: 0.5rem;
        }

      }

    }

  }

}
