@include sizes(find-show-container, true);

.find-show-container {

  display: flex;
  margin: 6.1rem auto 0 auto;

  &__content {

    width: 65.74%;

    &__header {

      &-title {
        color: $charcoal-grey;
        font: {
          family: Raleway-Bold;
          size: 2.2rem;
          stretch: normal;
          style: normal;
        }
        height: 3.5rem;
        letter-spacing: normal;
        line-height: 1.18;
        text-align: left;
      }

      &-legend {
        color: $bluey-grey;
        font: {
          family: Raleway-Medium;
          size: 1.4rem;
          stretch: normal;
          style: normal;
        }
        height: auto;
        letter-spacing: normal;
        line-height: 1.43;
        text-align: left;
        margin-bottom: 4.76rem;
        margin-top: 1.24rem;
        width: 80%;
      }

    }

    &__image {
      display: flex;
      justify-content: space-between;
    }

  }

  &__button {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3.86% 3rem 5.43%;
    width: 34.25%;

    &-title {
      font: {
        family: Raleway-Bold;
        size: 2.2rem;
        stretch: normal;
        style: normal;
      }
      letter-spacing: normal;
      line-height: 1.18;
      text-align: left;
    }

  }

}

@media only screen and (min-width: 970px) and (max-width: 1100px) {

  .find-show-container {

    &__content {

      &__header {

        &-legend {
          width: 100%;
        }

      }

    }

    &__button {
      padding: 0 0 3rem 2.43%;
    }

  }

}

@media only screen and (min-width: 900px) and (max-width: 970px) {

  .find-show-container {

    &__content {

      &__header {

        &-legend {
          width: 100%;
        }

      }

    }

    &__button {

      padding: 0 0 2rem 3.86%;

      &-title {
        font-size: 2rem;
      }

    }

  }

}

@media only screen and (min-width: 860px) and (max-width: 900px) {

  .find-show-container {

    &__content {

      &__header {

        &-legend {
          width: 100%;
        }

      }

    }

    &__button {

      padding: 0 0 1.5rem 2.86%;

      &-title {

        font-size: 2rem;

        @media only screen and (max-width: 872px) {
          font-size: 1.9rem;
        }

      }

    }

  }

}

@media only screen and (min-width: 723px) and (max-width: 859px) {

  .find-show-container {

    flex-direction: column;
    margin-top: 1.1rem;

    &__content {

      width: 100%;

      &__header {

        &-legend {
          margin-bottom: 5.06rem;
          margin-top: 2.14rem;
          width: 90%;
        }

      }

    }

    &__button {

      align-items: center;
      margin-top: 4rem;
      padding: 0;
      width: 100%;

      &-title {
        text-align: center;
      }

    }

  }

}

@media only screen and (max-width: 722px) {

  .find-show-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4.5rem auto 0 auto;
    width: 37.4rem !important;

    @media only screen and (max-width: 411px) {
      width: 95% !important;
    }

    &__content {

      width: 100%;

      &__header {

        &-legend {
          margin-bottom: 4.86rem;
          margin-top: 2.14rem;
          width: 100%;
        }

      }

      &__image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

    }

    &__button {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 2.8rem;
      padding: 0;
      width: 100%;
    }

  }

}
