.login-container {


  &__alternative-button {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: .5rem 11.5rem 3rem 11.5rem;

    &__legend {
      height: 2rem;
      display: flex;

      &__label {
        height: 2rem;
        font: {
          family: Raleway-Medium;
          size: 1.4rem;
        }
      }
    }

    &__icon-network {
      align-content: space-between;
      display: flex;
      justify-content: center;

      &__left {
        margin-right: 0.5rem;
      }

      &__right {
        margin-left: 0.5rem;
      }
    }

    &__continue-as-guest {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
    }

    &__image-title-login {
      display: flex;
    }

    &__label-title-login {
      display: none;
    }

    @media only screen and (max-width: 767px) {
      padding: 8.7rem 3.7rem 0 3.7rem;
      &__image-title-login {
        display: none;
      }
      &__label-title-login {
        display: flex;
        font: {
          size: 2.2rem;
          family: Raleway-Bold;
        };
        margin-bottom: 4.24rem;

      }
    }
    @media only screen and (max-width: 414px) {
      padding: 9.7% 3% 3% 3%;
    }
  }
}

.content-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
