.multi-carousel-container {

  margin-top: 5rem;

  @media only screen and (min-width: 720px) and (max-width: 874px) {
    margin-top: 4rem;
  }

}

@include sizes(BrainhubCarousel, false);
/* Carousel Component Styles */
.BrainhubCarousel {
  position: relative;
  overflow: hidden;
  margin: 0 auto !important;
}

.BrainhubCarousel__customArrows,
.BrainhubCarousel__custom-arrowRight,
.BrainhubCarousel__custom-arrowLeft {
  position: absolute;
  z-index: 1;
}

.BrainhubCarousel__custom-arrowRight {
  right: 0;
}

  .BrainhubCarouselItem,  .BrainhubCarouselItem--active {
    justify-content: flex-start !important;
  }

@media only screen and  (max-width: 768px) {

  .BrainhubCarouselItem, .BrainhubCarouselItem--active {
    justify-content: center !important;
  }

  .BrainhubCarousel__customArrows {
      display: none;
    }

}
