.search-container {

  width: 100%;

  &__content {

    margin: 0 auto;
    position: relative;
    width: 100%;

    &__header {

      display: flex;
      margin: 0 auto;
      padding: 3.44rem 0 0 9.5rem;
      position: relative;
      width: 128rem;

      &__label {
        color: $bluey-grey;
        font: {
          family: Raleway;
          size: 1rem;
          stretch: normal;
          style: normal;
          weight: normal;
        }
        height: 1.1rem;
        letter-spacing: 0.015rem;
        line-height: 2;
        text-align: left;
        text-transform: uppercase;
        margin-left: 0 !important;
      }

    }

    &__input {
      height: 7.2rem;
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom: .05rem solid $second-color;

      &-input {
        background-color: transparent;
        border: none;

        font: {
          family: Raleway;
          size: 3rem;
          stretch: normal;
          style: normal;
        }
        height: 100% !important;
        letter-spacing: normal;
        line-height: 1.63;
        outline: none;
        padding: 1.66rem 0 .27rem 9.5rem;
        text-align: left;
        margin: 0 auto !important;
        width: 128rem !important;

        &:hover {
          outline: none;
        }

        &::placeholder {
          color: $second-color;
        }

      }

    }

    &__content {
      width: 128rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 5rem auto;
    }

    &__message {

      display: flex;
      font: {
        family: Raleway;
        size: 1.6rem;
      };
      justify-content: center;
      margin-top: 5%;

      &-subtitle {
        font: {
          family: Raleway-Semi-Bold;
          size: 1.6rem;
        };
      }
    }

    &__not-search-success {

       //display: flex;
      display: none;
      font:{
        family: Raleway-Semi-Bold;
        size: 1.2rem;
      };
      justify-content: center;
    }

  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {

  .search-container {

    &__content {

      &__header {
        padding: 3.4rem 5% 0 5%;
        width: 100% !important;
      }

      &__input {
        width: 100% !important;

        &-input {
          padding: 0 5%;
        }
      }

      &__content {
        width: 100% !important;
        margin: 6.83rem auto;
      }

    }

  }
}

@media only screen and (max-width: 767px) {

  .search-container {

    &__content {

      &__header {
        padding: 3.4rem 0 0 10%;
        width: 100% !important;
        @media only screen and (min-width: 720px) {
          padding: 3.4rem 3% 0 3%;
        }
      }

      &__input {
        width: 100% !important;

        &-input {
          padding: 0 0 0 10%;
          width: 100% !important;
          @media only screen and (min-width: 720px) {
            padding: 0 3% 0 3%;
          }
        }
      }

      &__content {
        margin: 6.83rem auto;
        width: 100% !important;
      }

    }

  }

}


@media only screen and (max-width: 720px) {

  .search-container {

    &__content {

      &__header {
        padding-top: 2.5rem;
      }

      &__input {
        height: 5.8rem !important;
      }

      &__content {
        justify-content: center;
        margin: 3.03rem auto;
      }

      &__message {
        font-size: 1.9rem;
        text-align: center;
        margin-top: 30%;
      }

    }

  }

}
