.select-country-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 12.7rem;
  width: 67rem;

  img {
    height:2.6rem;
    margin-right: 5%;
    width:21.7rem;
  }

  &__title {
    font: {
      family: Raleway-Semi-Bold;
      size: 1.8rem;
    };
    line-height: 2.1rem;
    margin: 7.1rem 0 4rem 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 720px) {
  .select-country-container {

    padding-top: 9.4rem;

    width: 37.4rem;
    img {
      margin: 0 auto;
    }
    &__title {

      margin-top: 5.8rem;
      margin-left: 1rem;
    }
    &__content {
      justify-content: center;
    }
  }
}
