.skeleton-loading-container {

  height: 100%;
  width: 100%;
  &__carousel {
    @include skeleton-class(40);
    margin: 6rem 0 5rem 0;
  }

  &__content {
    padding-top: 1.8rem;
    position: relative;
    width: 128rem !important;
    margin: 0 auto;

    &__icon {
      @include skeleton(2.5, 19.8, 0, 0, 0, 0);
      left: 9.7rem;
      position: absolute;
    }

    &__menu {
      @include skeleton(2.5, 6, 0, 0, 0, 0);
      height: 2.5rem;
      position: absolute;
      right: 9.7rem;
    }
    &__center {

      padding: 0 9.7rem;

      &__multi-carousel {

        justify-content: space-between;
        display: flex;
        margin-bottom: 7.5rem;

        &__item {
          @include skeleton(36.8, 24.9, 0, 3, 0, 0);

          &:last-child {
            margin-right: 0;
          }

        }

      }

      &__find-event {
        @include skeleton(2.5, 23.4, 0, 0, 2.9, 0);
      }

      &__event {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 9.3rem;

        &__item {

          height: 20.6rem;
          margin: 0 1.5rem 3rem 0;
          width: 34.2rem;

          &__image {
            @include skeleton(17.1, 34.2, 0, 0, 0, 0);
          }

          &__content {

            display: flex;
            margin-top: 1.6rem;
            position: relative;

            &__label {
              @include skeleton(2.5, 17.1, 0, 0, 0, 0);
            }

            &__date {
              @include skeleton(2.5, 2.2, 0, 0, 0, 0);
              left: 32rem;
              position: absolute;
            }

          }

        }

      }

      &__event-city {

        @include skeleton(2.5, 42.1, 0, 0, 10.9, 0);

        &__altern {
          display: none;
        }
      }

      &__request-content {

        display: flex;

        &__left {
          display: flex;

          &__item {
            @include skeleton(23, 34.2, 0, 3, 0, 0);
          }
        }

        &__right {
          margin-left: 2.9rem;

          &-first {
            @include skeleton(2.5, 27.1, 0, 0, .9, 0);
          }

          &-middle {
            @include skeleton(2.5, 15.1, 0, 0, 2.9, 0);
          }

          &-last {
            @include skeleton(4, 25, 0, 0, 0, 0);
          }

        }
      }

      &__play {
        margin-top: 19.2rem;
        display: flex;

        &__left {

          &-first {
            @include skeleton(2.5, 10.1, 0, 0, 8.7, 0);
          }

          &-second {
            @include skeleton(2.5, 47.1, 0, 8.7, 1, 0);
          }

          &-third {
            @include skeleton(2.5, 31.1, 0, 0, 8.3, 0);
          }

          &-last {
            @include skeleton(4, 18.6, 0, 0, 0, 0);
          }
        }

        &__item {
          @include skeleton(36.8, 24.9, 0, 3, 0, 0);

        }
      }
    }

    &__footer {
      @include skeleton-class(44.7);
      margin-top: 10.3rem;
    }

  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {

  .skeleton-loading-container {
    &__carousel {
      @include skeleton-class(30);
      margin: 5.9rem 0 4rem 0;
    }
    &__content {
      width: 76.8rem !important;
      padding-top: 1.9rem;

      &__icon {
        @include skeleton(2.5, 17.1, 0, 0, 0, 0);
        left: 4rem;
      }

      &__menu {
        @include skeleton(2.5, 9.6, 0, 0, 0, 0);
        height: 2.5rem;
        right: 3.9rem;
      }



      &__center {

        padding: 0 3rem;

        &__multi-carousel {

          margin-bottom: 5rem;

          &__item {
            @include skeleton(31, 21, 0, 3, 3, 0);
          }

        }

        &__find-event {
          @include skeleton(2.5, 23.5, 0, 0, 2.9, 0);
        }

        &__event {

          &__item {
            margin-right: 0;

            &__image {
              @include skeleton(16.5, 33, 0, 0, 0, 0);
            }

            &__content {

              &__label {
                @include skeleton(2.5, 17.1, 0, 0, 0, 1.7);
              }

              &__date {
                @include skeleton(2.5, 2.2, 0, 0, 0, 0);
                left: 29rem;
              }

            }

          }

        }

        &__event-city {
          @include skeleton(2.5, 41.1, 0, 0, 10.8, 0);
        }

        &__request-content {
          flex-direction: column;

          &__left {
            &__item {
              @include skeleton(22.2, 33, 0, 3, 0, 0);
            }
          }

          &__right {
            margin: 4.1rem 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-first {
              display: none;
            }

            &-middle {
              @include skeleton(2.5, 50.8, 0, 0, 2.9, 0);
            }

            &-last {
              @include skeleton(4, 21, 0, 0, 0, 0);
            }

          }
        }

        &__play {
          margin-top: 9.3rem;

          &__left {

            &-first {
              @include skeleton(2.5, 9.5, 0, 0, 5.5, 0);
            }

            &-second {
              @include skeleton(2.5, 41.3, 0, 3.76, 1, 0);
            }

            &-third {
              @include skeleton(2.5, 28.4, 0, 0, 9.5, 0);
            }

            &-last {
              @include skeleton(4, 18, 0, 0, 0, 0);
            }
          }

          &__item {
            @include skeleton(30.94, 20.94, 0, 0, 0, 0);

            &:last-child {
              display: none;
            }

          }
        }
      }

      &__footer {
        @include skeleton-class(45.9);
        margin-top: 7.2rem;
      }

    }

  }
}

@media only screen and (max-width: 767px) {

  .skeleton-loading-container {
    &__carousel {
      @include skeleton-class(55);
      margin: 6rem 0 5rem 0;
    }
    &__content {


      padding-top: 1.9rem;
      width: 37.4rem !important;

      &__icon {
        @include skeleton(2.5, 17.1, 0, 0, 0, 0);
        left: 2.1rem;
      }

      &__menu {
        display: none;
      }



      &__center {

        padding: 0;

        &__multi-carousel {
          margin-bottom: 5.6rem;

          &__item {
            @include skeleton(36.8, 24.9, 0, 3, 0, 0);

            &:first-child {
              @include skeleton(36.8, 5.2, 0, 3, 0, 0);
            }

            &:last-child {
              @include skeleton(36.8, 5.2, 0, 0, 0, 0);
            }

          }

        }

        &__find-event {
          @include skeleton(2.5, 23.4, 0, 0, 4.2, 2);
        }

        &__event {

          margin-bottom: 12.5rem;

          &__item {

            height: 22.6rem;
            margin: 2.5rem 1.5rem;
            width: 37.4rem;

            &__image {
              @include skeleton(18.7, 37.4, 0, 0, 0, 0);
            }

            &__content {

              margin-top: 1.4rem;

              &__label {
                @include skeleton(2.5, 23.4, 0, 0, 0, 0);
              }

              &__date {
                @include skeleton(2.5, 3.2, 0, 0, 0, 0);
                left: 34.2rem;
                position: absolute;
              }

            }

          }

        }

        &__event-city {
          @include skeleton(2.5, 37.4, 0, 0, 0, 1.5);

          &__altern {
            @include skeleton(2.5, 18.7, 1.5, 0, 14.9, 0);
            display: block;
          }

        }

        &__request-content {
          display: block;

          &__left {
            display: block;

            &__item {
              @include skeleton(24.7, 37.4, 0, 0, 3, 1.5);
            }
          }

          &__right {
            margin: 4.1rem 0 0 0;
            flex-direction: column;
            align-items: flex-start;

            &-first {
              display: block;
              @include skeleton(2.5, 37.4, 2.3, 0, 1.5, 1.5);

              &:first-child {
                display: none;
              }
            }

            &-middle {

              @include skeleton(2.5, 18.7, 0, 0, 2.3, 1.5);
            }

            &-last {
              @include skeleton(5, 30, 0, 0, 0, 5.2);
            }

          }
        }

        &__play {
          margin-top: 15.4rem;
          flex-direction: column;
          position: relative;

          &__left {

            &-first {
              @include skeleton(5, 11, 0, 0, 4, 1.5);
            }

            &-second {
              @include skeleton(2.5, 37.4, 0, 0, 1.5, 1.5);
            }

            &-third {
              @include skeleton(2.5, 18.7, 0, 0, 8.3, 0);
            }

            &-last {
              display: none;
              position: absolute;
              top: 83.6rem;
              left: 5.7rem;
              @include skeleton(5, 30, 5.5, 0, 10.4, 0);
            }
          }

          &__item {
            @include skeleton(55.27, 37.4, 0, 3, 0, 1.5);

            &:last-child {
              display: block;
              @include skeleton(5, 30, 5.5, 0, 0, 5.2);
            }

          }
        }
      }

      &__footer {
        @include skeleton-class(55.27);
        margin-top: 10.2rem !important;
      }

    }
  }
}
