.tk-play-container {

  background-color: $charcoal-grey;
  margin-top: 9rem;
  width: 100%;

  &__content {

    display: flex;
    margin: 0 auto;
    padding-bottom: 6.85%;
    padding-top: 6.72%;
    width: 128rem;

    &__legend {

      width: 51.3%;

      &__logo {
        margin-bottom: 14.58%
      }

      &__title {
        color: $fourth-color;
        font: {
          family: Raleway-Bold;
          size: 2.2rem;
          stretch: normal;
          style: normal;
        }
        height: auto;
        letter-spacing: normal;
        line-height: 1.18;
        margin-bottom: 2.16%;
        text-align: left;
        width: 86%;
      }

      &__subtitle {
        color: $bluey-grey;
        font: {
          family: Raleway-Medium;
          size: 1.4rem;
          stretch: normal;
        }
        height: auto;
        letter-spacing: normal;
        line-height: 1.43;
        margin-bottom: 8.29%;
        text-align: left;
        width: 86%;
      }

      &__image {
        display: none;
      }

    }

    &__image {
      display: flex;
      justify-content: space-between;
      width: 48.7%;
    }

  }

}

@media only screen and (max-width: 1279px) {

  .tk-play-container {

    &__content {

      width: 100%;



    }

  }

}

@media only screen and (min-width: 900px) and (max-width: 1000px) {

  .tk-play-container {

    &__content {

      &__legend {

        width: 51.3%;

        &__logo {
          margin-bottom: 12.58%
        }

        &__title {

          font-size: 2rem;
          margin-bottom: 2.16%;

          @media only screen and (max-width: 950px) {
            width: 95%;
          }

        }

        &__subtitle {

          margin-bottom: 6.29%;

          @media only screen and (max-width: 950px) {
            width: 95%;
          }

        }

      }

    }

  }

}

@media only screen and (min-width: 875px) and (max-width: 900px) {

  .tk-play-container {

    &__content {

      &__legend {

        &__logo {
          margin-bottom: 10.58%
        }

        &__title {
          font-size: 2rem;
          width: 95%;
        }

        &__subtitle {
          margin-bottom: 4.29%;
          width: 95%;
        }

      }

    }

  }

}

@media only screen and (min-width: 860px) and (max-width: 874px) {

  .tk-play-container {

    &__content {

      &__legend {

        width: 39%;

        @media only screen and (width: 874px) {
          width: 37%;
        }

        &__logo {
          margin-bottom: 10.58%
        }

        &__title {
          font-size: 2rem;
          width: 95%;
        }

        &__subtitle {
          margin-bottom: 4.29%;
          width: 95%;
        }

      }

      &__image {

        width: 61%;

        @media only screen and (width: 874px) {
          width: 63%;
        }

      }

    }

  }

}

@media only screen and (min-width: 723px) and (max-width: 860px) {

  .tk-play-container {

    margin-top: 3.6rem;

    &__content {

      padding-top: 6.75%;
      padding-bottom: 8.8%;

      &__legend {

        width: 70%;

        &__logo {

          margin-bottom: 14.58%;

          @media only screen and (max-width: 767px) {
            margin-bottom: 12.58%;
          }

        }

        &__title {
          margin-bottom: 2.16%;
          width: 95%;
        }

        &__subtitle {

          margin-bottom: 8.29%;
          width: 95%;

          @media only screen and (max-width: 767px) {
            margin-bottom: 7.29%;
          }

        }

      }

      &__image {
        justify-content: center;
        width: 30%;
      }

    }

  }

}

@media only screen and (max-width: 722px) {

  .tk-play-container {

    &__content {

      padding-bottom: 10.7rem;
      padding-top: 7rem;
      justify-content: center;
      width: 37.4rem !important;

      @media only screen and (max-width: 411px) {
        justify-content: center;
        width: 95% !important;
      }

      &__legend {

        width: 100%;

        &__logo {
          margin-bottom: 5rem;
        }

        &__title {
          text-align: justify;
          margin-bottom: 2.24rem;
          width: 100%;
        }

        &__subtitle {
          text-align: justify;
          margin-bottom: 5.08rem;
          width: 100%;
        }

        &__image {
          display: flex;
          justify-content: center;
          margin-bottom: 5.5rem;
        }

      }

      &__image {
        display: none;
      }

    }

  }

}
