.view-container {

  margin: 0 auto !important;
  max-width: 128rem !important;

  &__with-margin {
    padding: 0 9.7rem;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1279px) {

  .view-container {

    width: 100% !important;

    &__with-margin {
      padding: 0 5%;
    }

  }

}

@media only screen and (max-width: 767px) {

  .view-container {
    width: 100% !important;

    &__with-margin {
      padding: 0;
      @media only screen and (min-width: 720px)  {
        padding: 0 3% 0 3%;
      }
    }

  }

}
