.contact-us-container {

  padding-top: 2.5rem;
  padding-bottom: 6rem;

  &__title {

    display: flex;
    width: 50.4rem;

    &-label {

      font: {
        family: Raleway-Semi-Bold;
        size: 3.6rem;
      };

      &-image {
        height: 4rem;
        margin-left: 1rem;
        width: 4rem;
      }
      &-image-success {
        height: 6rem;
        margin: 0 0 1rem 1rem;
        width: 6rem;
      }

    }

  }

  &__title-form {
    width: 54rem;
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 7.5rem;
    margin-bottom: 8rem;
  }

  &__form {

    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    &-message-error {
      color: $error-color;
      font: {
        size: 1.2rem;
        family: Raleway-Light;
      };
      margin-top: -2.5rem;
      width: 50rem;
    }

  }

  &__contact-phone {

    align-items: center;
    display: flex;
    margin-top: 9.4rem;

    &-image {
      height: 4rem;
      margin-right: 1.2rem;
      width: 4rem;
    }

    &-content {

      display: block;

      &-title {
        font: {
          family: Roboto;
          size: 2.4rem;
          weight: bold;
        };
        margin-bottom: -.5rem;
      }

      &-content {
        color: $bluey-grey;
        font: {
          family: Raleway;
          size: 1.6rem;
        };
      }

    }

  }

  &__social-media {
    display: none;
  }
}

.succes-container {
  padding: 5rem 0;
  &_label {
    font: {
      family: Raleway-Bold;
      size: 5.2rem;
    }
    margin-top: -2rem;
  }

  &_sub-label {
    color: $bluey-grey;
    font: {
      family: Raleway;
      size: 2.2rem;
    };

  }

  @media only screen and (min-width: 414px) and (max-width: 719px) {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  @media only screen and (max-width: 414px) {

    margin-left: auto;
    margin-right: auto;
    width: 90%;

    &_label {
      font-size: 4.2rem;
    }

  }

}

@media only screen and (min-width: 720px) and (max-width: 1180px) {

  .contact-us-container {

    padding-top: 7.2rem;

    &__title {
      width: 49.4rem;
    }

    &__title-form {
      width: 53.1rem !important;
    }

    &__icons {
      justify-content: space-around;
    }


  }

}


@media only screen and (min-width: 414px) and (max-width: 719px) {

  .contact-us-container {

    padding-bottom: 11rem;
    padding-top: 4.4rem;
    margin: 0 auto;
    width: 37.4rem;

    &__title {
      display: flex;
      width: 32.3rem;
    }

    &__title-form {
      width: 37.4rem;
    }

    &__icons {
      justify-content: center;
      margin-bottom: 0;
      flex-direction: column;
    }

    &__form {

      display: flex;
      flex-direction: column;
      margin-top: 3rem;

      &-message-error {
        color: $error-color;
        font: {
          size: 1.2rem;
          family: Raleway-Light;
        };
        margin-top: -2.5rem;
        width: 37.4rem;
      }

    }

    &__contact-phone {

      display: block;
      margin: 9.4rem auto 0 auto;
      text-align: center;

      &-image {
        height: 4rem;
        width: 4rem;
      }

      &-content {

        display: block;

        &-title {
          margin-bottom: -.5rem;
        }

        &-content {
          text-align: center;
          margin: 0 auto;
          width: 23rem;
        }

      }

    }

    &__social-media {

      display: flex;
      flex-direction: column;
      &-title {
        text-align: center;
        font:{
          family: Raleway-Semi-Bold;
          size: 2.4rem;
        }
        margin: 12.9rem auto 3.9rem auto;
        width: 90%;
      }

      &-list-items {
        display: flex;
        justify-content: space-between;
      }
      &-item {
        height: 4rem;
        background: {
          position: center center;
          repeat: no-repeat;
          size: cover;
        };
        width: 4rem;
      }
    }

  }

}

@media only screen and (max-width: 413px) {

  .contact-us-container {

    margin: 0 auto;
    padding-bottom: 11rem;
    padding-top: 4.4rem;
    width: 95%;

    &__title {

      display: flex;
      width: 100%;

      &_label {
        font-size: 3.4rem;
      }

    }

    &__title-form {
      width: 100%;
    }

    &__icons {
      justify-content: center;
      flex-direction: column;
      margin-bottom: 0;
    }

    &__form {

      display: flex;
      flex-direction: column;
      margin-top: 3rem;

      &-message-error {
        color: $error-color;
        font: {
          size: 1.2rem;
          family: Raleway-Light;
        };
        margin-top: -2.5rem;
        width: 100%;
      }

    }

    &__contact-phone {

      display: block;
      margin: 9.4rem auto 0 auto;
      text-align: center;

      &-image {
        height: 4rem;
        width: 4rem;
      }

      &-content {

        display: block;

        &-title {

          margin-bottom: -.5rem;

        }

        &-content {
          margin: 0 auto;
          text-align: center;
          width: 23rem;
        }

      }

    }

  }

}
