.detail-contact-us-container {
  padding: 2.5rem  0 6.7rem 0;

  &__title {

    align-items: center;
    display: flex;
    margin-bottom: 1rem;

    &-label {
      font: {
        family: Raleway-Semi-Bold;
        size: 3.6rem;
      };
      line-height: 3rem;
      margin-right: .2rem;
    }

    &-icon {
      height: 5rem;
      width: 5rem;
    }

  }

  &-subtitle {

    color: $bluey-grey;
    font: {
      family: Raleway;
      size: 1.6rem;
    };
    line-height: 2.2rem;
    margin-bottom: 6rem;
  }

}

.list-accordion-content {

  width: 58.4rem;
  background-color: transparent;
  &__header {
    @include button;
    width: 100% !important;
    &-icon {
      border-radius: .3rem;
      height: .6rem;
      margin-right: .5rem;
      width: .6rem;
    }

    &-title {
      font: {
        family: Raleway-Semi-Bold;
        size: 1.8rem;
      };

    }
    &-close-icon {
      width: 2rem;
      height: 2rem;
    }
  }
  &__body {
    width: 95%;
    font: {
      family: Raleway;
      size: 1.6rem;
    };
    line-height: 2.4rem;
    padding-left: .5rem;
  }
  &__body-alt {
    width: 95%;
    font: {
      family: Raleway-Bold;
      size: 1.6rem;
    };
    line-height: 2.4rem;
    padding-left: .5rem;
  }
  &:last-child {
    border-bottom: .1rem solid $bluey-grey !important;;
  }
}
.card-header, .card-body {
  background-color: transparent !important;
  padding-left: 0 !important;
  border: none !important;

}
.card-header {
  padding: 3rem 0 2.3rem 0 !important;
  border-top: .1rem solid $bluey-grey !important;

}

.class-2 {
  display: flex;
  align-items: center;
}
.class-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 722px) {
  .detail-contact-us-container {
    width: 37.4rem;
    margin: 0 auto;
  }
  .list-accordion-content {

    width: 100%;
    &__header {
      margin: 0 !important;
      padding-left: 0 !important;
      &-title {
        text-align: left;
      }
      &-icon {
        margin-top: 1rem;
      }

    }
  }

  .class-2 {
    align-items: flex-start;
  }

}

@media only screen and (max-width: 411px) {
  .detail-contact-us-container {
    width: 95%;
  }
  .list-accordion-content {
    &__header {

      &-title {
        width: 85%;
      }
    }
  }
}
